header
	.container
		.row.no-gutters
			.logo
				a(href="http://web4gsolutions.com/aquacity")
					img(src="./assets/logo.png", alt="")
			.header-nav-icon
				span.menu-toggle
					span M
					span e
					span n
					span u
	.header-nav-wrapper
		.header-nav-close
			span
			span
		nav
			a.active(href="http://web4gsolutions.com/index.html" fp-target="0") Trang chủ
			a(href="http://web4gsolutions.com/index.html" fp-target="1") Mặt bằng
			a(href="http://web4gsolutions.com/index.html" fp-target="2") Vị trí
			a(href="http://web4gsolutions.com/index.html" fp-target="3") Sinh thái
			a(href="http://web4gsolutions.com/index.html" fp-target="4") Tiện ích
			a(href="http://web4gsolutions.com/index.html" fp-target="5") Phân khu
			a(href="http://web4gsolutions.com/index.html" fp-target="6") Thư viện
			a(href="http://web4gsolutions.com/index.html" fp-target="7") Tin tức
			a(href="http://web4gsolutions.com/index.html" fp-target="8") Liên hệ
			a(href="http://web4gsolutions.com/index.html" fp-target="9") Thông tin chung