header
	.container
		.row.no-gutters
			.logo
				a(href="#")
					img(src="./assets/logo.png", alt="")
			.header-nav-icon
				span.menu-toggle
					span M
					span e
					span n
					span u
				//- .mobile
				//- 	span
				//- 	span
				//- 	span
	.header-nav-wrapper
		.header-nav-close
			span
			span
		nav
			a.active(href="#" fp-target="0") Trang chủ
			a(href="#" fp-target="1") Mặt bằng
			a(href="#" fp-target="2") Vị trí
			a(href="#" fp-target="3") Sinh thái
			a(href="#" fp-target="4") Tiện ích
			a(href="#" fp-target="5") Phân khu
			a(href="#" fp-target="6") Thư viện
			a(href="#" fp-target="7") Tin tức
			a(href="#" fp-target="8") Liên hệ
			a(href="#" fp-target="9") Thông tin chung