header
	.container
		.row.no-gutters
			.logo
				a(href="/")
					img(src="./assets/logo.png", alt="")
			.header-nav-icon
				span.menu-toggle
					span M
					span e
					span n
					span u
				//- .mobile
				//- 	span
				//- 	span
				//- 	span
	.header-nav-wrapper
		.header-nav-close
			span
			span
		nav
			a.active(href="/") Trang chủ
			a(href="/mat-bang.html") Mặt bằng
			a(href="/vi-tri.html") Vị trí
			a(href="/sinh-thai.html") Sinh thái thông minh
			a(href="/tien-ich.html") Tiện ích
			a(href="/phan-khu.html") Phân khu
			a(href="/gallery.html") Thư viện
			a(href="/news.html") Tin tức
			a(href="/lien-he.html") Liên hệ
			a(href="/thong-tin-chung.html") Thông tin chung