#widget-left
	a.item(href="#")
		span.fas.fa-home
	a.subscribe(href="index.html") 
		span Nhận tin
	a.item(href="#" download)
		span.mdi.mdi-download 
		span Tải Brochure
	a.item(href="tel:0943797979")
		span.mdi.mdi-phone-in-talk
		span.hotline 0943 797 979
	a.item(href="#")
		span.mdi.mdi-arrow-up-bold