#widget-left
	a.subscribe(href="index.html") 
		span Nhận tin
	a.social.facebook(href="#")
		span.fab.fa-facebook-f
	a.social.youtube(href="#")
		span.fab.fa-youtube
#widget-right
	a.item(href="#")
		span.fas.fa-home
	a.item(href="#")
		span.fas.fa-envelope
	a.item(href="tel:0943797979")
		span.mdi.mdi-phone-in-talk
		span.hotline 0943 797 979
	a.item(href="#")
		span.mdi.mdi-arrow-up-bold