.section.villas-section.villas-1
	.section-wrapper
		.img
			img.ofcv(src="./assets/villas/banner_1.jpg", alt="")
		.content
			h1 the grand villas
			.text
				p 
					b biệt thự 
					| đơn lập
				p Xứng tầm 
					b đẳng cấp