.section.villas-section.villas-2
	.imgMapCanvas
		.map-canvas
			map(name="imageMap", id="imageMap")
				//- area(shape='poly', coords='1213, 1, 1330, 192, 1334, 210, 1356, 210, 1348, 187, 1224, 0')
				area(shape='poly', coords="701, 527, 770, 511, 813, 503, 869, 495, 978, 488, 1047, 490, 1053, 504, 1051, 528, 1042, 544, 1022, 561, 996, 579, 997, 592, 981, 604, 987, 619, 984, 628, 961, 643, 935, 655, 911, 658, 885, 665, 858, 662, 820, 653")
			canvas
		.map-image
			img(src="./assets/villas/v_2.jpg", usemap="#imageMap")