.section.villas-section.villas-3
	.title
		p.title-text.grad Mặt bằng
		p.title-text.grad Tổng thể
	.content
		.imgMapCanvas
			.map-canvas
				map(name="villas_3", id="villas_3")
					area(shape='poly', coords="701, 527, 770, 511, 813, 503, 869, 495, 978, 488, 1047, 490, 1053, 504, 1051, 528, 1042, 544, 1022, 561, 996, 579, 997, 592, 981, 604, 987, 619, 984, 628, 961, 643, 935, 655, 911, 658, 885, 665, 858, 662, 820, 653")
				canvas
			.map-image
				img(src="./assets/villas/v_3.png", usemap="#villas_3")
	.container.mobile
		.row.fronts-list
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=0) 
					h3 The Grand Villas
					p GV-T2 | (Style 1)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=1) 
					h3 The Grand Vilas
					p GV-T2 | (Style 2)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=2) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=3) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=4) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=5) 
					h3 The Grand Villas
					p GV-T5 | (Style 1)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=6) 
					h3 The Grand Villas
					p GV-T5 | (Style 2)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=7) 
					h3 The Grand Villas
					p GV-T5 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=8) 
					h3 The Grand Villas
					p GV-T5 | (Style 4)