.section.villas-section.villas-3
	.title
		p.title-text.grad Mặt bằng
		p.title-text.grad Tổng thể
	.content
		.imgMapCanvas
			.map-canvas
				map(name="villas_3", id="villas_3")
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='454, 600, 562, 508, 619, 449, 691, 353, 744, 245, 760, 164, 831, 187, 818, 261, 779, 360, 716, 463, 641, 551, 526, 656', title='1')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='409, 71, 497, 76, 577, 173, 605, 188, 718, 224, 696, 277, 527, 221, 508, 209', title='2')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='293, 62, 380, 67, 478, 213, 505, 232, 689, 294, 652, 352, 413, 264, 397, 246', title='3')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='181, 61, 263, 60, 374, 259, 403, 284, 639, 370, 592, 429, 306, 319, 283, 288', title='4')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='290, 425, 350, 363, 573, 450, 507, 514', title='5')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='328, 506, 362, 482, 482, 535, 429, 577', title='6')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='160, 198, 198, 296, 248, 284, 206, 188', title='7')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='73, 80, 105, 174, 195, 160, 153, 66', title='8')
					area(data-src="#popup-villas3" style="cursor: pointer" shape='poly', coords='101, 30, 115, 61, 208, 46, 612, 74, 613, 35, 204, 14', title='9')
				canvas
			.map-image
				img(src="./assets/villas/v_3.png", usemap="#villas_3")
	.container.mobile
		.row.fronts-list
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=0) 
					h3 The Grand Villas
					p GV-T2 | (Style 1)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=1) 
					h3 The Grand Vilas
					p GV-T2 | (Style 2)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=2) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=3) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=4) 
					h3 The Grand Villas
					p GV-T2 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=5) 
					h3 The Grand Villas
					p GV-T5 | (Style 1)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=6) 
					h3 The Grand Villas
					p GV-T5 | (Style 2)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=7) 
					h3 The Grand Villas
					p GV-T5 | (Style 3)
			.col-6.col-md-4.item
				a(data-src="#popup-fronts" index=8) 
					h3 The Grand Villas
					p GV-T5 | (Style 4)