.section.villas-section.villas-4
	.content
		.row
			.col-left
				.img
					.img-wrapper
						img.ofcv(src="./assets/villas/v_4.jpg")
				.title
					img(src="./assets/villas/v_4_logo.png", alt="")
			.col-right
				.title
					p Sở hữu không gian mở khoáng đạt cùng mảng xanh ngút ngàn tầm mắt, mỗi ngày tại Grand Villas là kỳ nghỉ tuyệt vời cho cả gia đình
				.img
					.img-wrapper
						img(src="./assets/villas/v_4_2.jpg")