.section.villas-section.villas-5
	.content
		.row
			.col-lg-6.col-left
				.text
					h3 
						img(src="./assets/villas/v_5_logo_1.png", alt="")
					p Kết nối xuyên suốt không gian khách và bếp cùng khu vườn và hồ bơi riêng biệt, Garden Villas lưu giữ ký ức vui vẻ với những người láng giềng thượng lưu.
					a.btn-discover.btn(href="#" data-fancybox="villas_5_1" data-src="#villas5_1") Tìm hiểu ngay
				.img
					img(src="./assets/villas/v_5_1.jpg", alt="")
			.col-lg-6.col-right
				.text
					h3 
						img(src="./assets/villas/v_5_logo_2.png", alt="")
					p Được tô điểm bởi những kiến trúc sư hàng đầu, Classic Villas là tác phẩm nghệ thuật để bạn tự hào và là tổ ấm hạnh phúc thăng hoa.
					a.btn-discover.btn(href="#" data-fancybox="villas_5_2" data-src="#villas5_2") Tìm hiểu ngay
				.img
					img(src="./assets/villas/v_5_2.jpg", alt="")
	.d-none
		#villas5_1.villas5_1.popup_villas_5
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.content
					span.line-top
					span.line-left
					span.line-bottom
					.row
						.col-lg-5.col-img
							.title
								h2 Garden Villas
							.text
								p Thiết kế biệt thự duy nhất không những mang đến cho gia chủ một diện tích mảng xanh sinh thái bao quanh, mà còn vô cùng ấn tượng với ban công tầm nhìn thư thái, gần gũi với thiên nhiên, hoàn toàn tách biệt khỏi phố thị nhộn nhịp, đáp ứng chuẩn sống "Xanh" thời thượng, dồi dào vượng khí.
							.img-list
								.img
									img(src="./assets/villas/v_5_p2_1.jpg", alt="")
								.img
									img(src="./assets/villas/v_5_p2_2.jpg", alt="")
						.col-lg-7
							.img
								img(src="./assets/villas/v_5_p2_3.jpg", alt="")
		#villas5_2.villas5_2.popup_villas_5
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.content
					span.line-top
					span.line-left
					span.line-bottom
					.row
						.col-lg-5.col-img
							.title
								h2 Classic Villas
							.text
								p Mỗi căn biệt thự Classic Villa đều là một kiệt tác được kết tinh bởi phong cách tinh tế và sang trọng, tự nhiên và kiêu hãnh, vượt mọi giá trị kiến trúc thông thường để tôn lên phong cách độc tôn mang đậm dấu ấn riêng, duy nhất của từng chủ nhân tinh tú.
							.img-list
								.img
									img(src="./assets/villas/v_5_p1_1.jpg", alt="")
								.img
									img(src="./assets/villas/v_5_p1_2.jpg", alt="")
						.col-lg-7
							.img
								img(src="./assets/villas/v_5_p1_3.jpg", alt="")