.section.villas-section.villas-5
	.content
		.row
			.col-lg-6.col-left
				.text
					h3 
						img(src="./assets/villas/v_5_logo_1.png", alt="")
					p Kết nối xuyên suốt không gian khách và bếp cùng khu vườn và hồ bơi riêng biệt, Garden Villas lưu giữ ký ức vui vẻ với những người láng giềng thượng lưu.
					a.btn-discover.btn(href="#" data-fancybox="villas_5_1") Tìm hiểu ngay
				.img
					img(src="./assets/villas/v_5_1.jpg", alt="")
			.col-lg-6.col-right
				.text
					h3 
						img(src="./assets/villas/v_5_logo_2.png", alt="")
					p Kết nối xuyên suốt không gian khách và bếp cùng khu vườn và hồ bơi riêng biệt, Garden Villas lưu giữ ký ức vui vẻ với những người láng giềng thượng lưu.
					a.btn-discover.btn(href="#" data-fancybox="villas_5_2") Tìm hiểu ngay
				.img
					img(src="./assets/villas/v_5_2.jpg", alt="")