.section.villas-section.villas-6
	.content
		span.line-top
		span.line-right
		span.line-bottom
		span.line-left
		.title
			h2 
				span Vui Tràn 
				br 
				span Năng lượng
			.title-slider
				.swiper-prev
				.swiper-next
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/villas/v_6_1.jpg", alt="")
						.swiper-slide
							img(src="./assets/villas/v_6_1.jpg", alt="")
						.swiper-slide
							img(src="./assets/villas/v_6_1.jpg", alt="")
		.info
			.text
				p Thừa hưởng trọn vẹn tiện ích đẳng cấp và hoàn chỉnh, The Grand Villas tạo ra không gian sống hoàn hảo xứng tầm cộng đồng thượng lưu
			.info-slider
				.swiper-prev
				.swiper-next
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/villas/v_6_2.jpg", alt="")
						.swiper-slide
							img(src="./assets/villas/v_6_2.jpg", alt="")
						.swiper-slide
							img(src="./assets/villas/v_6_2.jpg", alt="")
