.section.villas-section.villas-7
	.content
		.row
			.col-left
				.title
					h2 Không gian
						br 
						| riêng tư
				.title-slider
					.swiper-prev
					.swiper-next
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")
			.col-right
				.text
					p Nép mình bên dòng sông xanh, ẩn dưới bóng mát của những tán cây cổ thụ, đường dạo bộ ven sông dẫn cư dân đến không gian sống thư thái yên bình, nơi mọi lo toan bộn bề đều được bỏ lại ở phố thị tấp nập.
				.info-slider
					.swiper-prev
					.swiper-next
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")
							.swiper-slide
								img(src="./assets/villas/v_8_1.jpg", alt="")