.section.villas-section.villas-8
	.content
		span.line-right
		span.line-left
		.row
			.col-left
				.img-big
					img(src="./assets/villas/v_9_1.jpg")
			.col-right
				.title
					h2 
						span Sống trọn 
						br
						span Bình yên 
				.text
					p Mọi hoạt động của cả nhà thật thư thái, như một kỳ nghỉ tuyệt hảo chỉ có tại The Grand Villas, trái tim của Aqua City
				.img-small
					img(src="./assets/villas/v_9_2.jpg")