.elite-3 {
	img {
		width: 100%;
	}

	.img {
		background-image: url('../assets/elite/e_3.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		img {
			opacity: 0;
		}

		@media (max-width: 767.98px) {
			min-height: 350px;
		}
	}

	.content {
		position: relative;
	}

	.top {
		position: absolute;
		top: 0;
		right: 100px;
		z-index: 2;
		max-width: 500px;

		@media (max-width: 1024.98px) {
			// background-color: #3eb7ca;
			position: static;
			padding: 40px 0;

			img {
				max-width: 700px;
				display: block;
				margin: 0 auto;
			}
		}
	}
}