.elite-6 {
	background-image: url(../assets/elite/bg_2.jpg), url(../assets/elite/bg_3.jpg);
	background-position: 0% top, 50% bottom;
	padding: 40px 0;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		width: 50%;
		background-image: url(../assets/elite/bg_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.top-left {
		.img {
			margin-top: 30px;
		}
	}

	.bottom-left {
		margin-top: 40px;

		.elite-text {
			margin-top: 80px;

			ul {
				padding-left: 20px;
			}
		}

		@media (max-width: 1024.98px) {
			margin-top: 15px;

			.elite-text {
				margin-top: 40px;
			}
		}

		@media (max-width: 767.98px) {
			.elite-text {
				margin-top: 15px;
			}
		}
	}

	.block-bottom-left {
		position: relative;

		.img {
			margin-top: -40px;
			margin-right: -90px;
			margin-left: -10px;
		}

		.title {
			position: absolute;
			bottom: 15px;
			left: 15px;
			color: white;
		}

		@media (max-width: 1024.98px) {
			margin-top: 25px;

			.img {
				margin-top: 0;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	.block-bottom-right {
		.text {
			padding: 110px 100px;
			text-align: center;
			font-family: 'iCiel Panton';
			color: white;

			h2 {
				font-size: 36px;
				font-weight: 900;
				text-transform: uppercase;
			}

			h3 {
				font-style: 36px;
				text-transform: uppercase;
				font-size: 36px;
				font-weight: 500;
				font-style: italic;

				+p {
					margin-top: 25px;
				}
			}

			p {
				font-size: 18px;

				+p {
					margin-top: 25px;
				}
			}

			@media (max-width: 1439.98px) {
				padding: 50px;

				h2,
				h3 {
					font-size: 32px;
				}

				p {
					font-size: 17px;
				}
			}

			@media (max-width: 1199.98px) {

				h2,
				h3 {
					font-size: 30px;
				}
			}

			@media (max-width: 767.98px) {

				h2,
				h3 {
					font-size: 24px;
				}
			}
		}

		@media (max-width: 1024.98px) {
			.text {
				max-width: 550px;
				padding: 30px 0 0 0;
				margin: 0 auto;
			}
		}
	}
}