.elite-7 {
	padding: 60px 0;

	img {
		width: 100%;
		max-width: 700px;
		display: block;
		margin: 0 auto;
	}

	.col-lg-6 {
		@media (max-width: 1024.98px) {
			+.col-lg-6 {
				margin-top: 40px;
			}
		}
	}
}