@media (min-width: 1025px) {
	.fp-container {
		z-index: 10;
		height: 100vh;
		width: 100%;
		overflow: hidden;
	}

	.fp-wrapper {
		position: relative;
		height: 100%;

		.fp-section {
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;

			&.sliding {
				opacity: 1;
				z-index: 2;
			}

			&.active {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	.fp-navigation {
		position: fixed;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 11;
		display: flex;
		justify-content: flex-end;
		padding: 5px;
		flex-direction: column;
		background: rgba(map-get($mau, main), .5);
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

		.fp-nav-item {
			margin: 5px 0;

			a {
				cursor: pointer;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 25px;
				width: 25px;
				border-radius: 50%;
				font-size: 13px;
				position: relative;
				transition: all .5s ease-in-out;

				.title {
					position: absolute;
					right: 100%;
					margin-right: 25px;
					white-space: nowrap;
					transform: translateX(25px);
					transition: all .3s linear;
					opacity: 0;
					pointer-events: none;
					font-size: 14px;
					background: map-get($mau, main);
					padding: 0 10px;
					height: 30px;
					display: flex;
					align-items: center;

					&:before {
						position: absolute;
						top: 0;
						content: '';
						border-top: 15px solid transparent;
						border-bottom: 15px solid transparent;
						border-left: 12px solid map-get($mau, main);
						left: 100%;
					}
				}
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				a {
					background: rgba(#e8de8b, .75);

					.title {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}

			&.active {
				a {
					background: #e8de8b;

					span:not(.title) {
						color: map-get($mau, main);
						font-weight: 700;
					}
				}
			}
		}

		@media (min-width: 1660px) {
			padding: 8px;
		}
	}

	.fp-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 200;
		background: linear-gradient(180deg, #e8de8b -105%, #07414c 62%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8de8b", endColorstr="#07414c", GradientType=1);

		&.sliding {
			z-index: 150;
		}
	}
}

@media (max-width: 1024px) {
	.fp-navigation {
		display: none;
	}
}