.info-marker {
	transition: all .3s ease-in-out;
	z-index: 20;
	width: 350px;
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	padding: 15px;
	transform: scale(0.5);
	opacity: 0;
	position: absolute;
	border: 2px solid map-get($mau, main);

	.text {
		padding-top: 10px;
		font-weight: 700;
		font-size: 18px;
		color: map-get($mau, main);
	}

	.img {
		img {
			width: 100%;
		}
	}

	&.active {
		transform: scale(1) !important;
		opacity: 1 !important;
	}

	@media (max-width: 1659.98px) {
		width: 275px;
	}
}



.imgMapCanvas {
	position: relative;
	z-index: 1000;

	.map-image {
		opacity: 0;
		z-index: 10;
		position: relative;

		img {
			width: 100%;
		}
	}

	.map-canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100%;

		canvas {
			width: 100%;
			height: 100%;

			&.background-added {
				background-position: center;
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}

	@media (max-width: 1024px) {
		z-index: 99;
	}
}