#loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	transition: .8s;
	background: linear-gradient(180deg, rgba(232, 222, 139, 1) -200%, rgba(7, 65, 76, 1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8de8b", endColorstr="#07414c", GradientType=1);
	width: 100%;
	height: 100%;

	#progress {
		display: none;
		transition: .5s;
		background: #000;
		width: 0;
		height: 1px
	}

	#progress,
	.progstat-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}

	.progstat-wrapper {
		margin-top: 0;
		width: 100%;
		color: #000;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 3px;
		text-align: center
	}

	.logo-loader {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		width: 750px;
		max-width: 100%;

		svg {
			path {
				stroke-dasharray: 835;
				stroke-dashoffset: 835;
				stroke-width: 2;
				stroke: #e8de8b;
				fill: rgba(0, 0, 0, 0);
				animation: dashOffset 2s linear forwards, fillColor .5s linear forwards;
				animation-delay: 0s, 1.6s;
			}
		}
	}
}

@keyframes dashOffset {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillColor {
	to {
		stroke: rgba(0, 0, 0, 0);
		fill: #e8de8b;
	}
}

body {
	header .logo {
		transform: translateX(-25px);
		opacity: 0;
		transition: all .4s linear;
	}

	header .header-nav-icon {
		transform: translateX(25px);
		opacity: 0;
		transition-delay: .2s;
		transition: all .4s linear;
	}

	#widget-left {
		transform: translateY(100%);
		opacity: 0;
		transition-delay: .6s;
		transition: all .4s linear;
	}

	#widget-right {
		transform: translateY(100%);
		opacity: 0;
		transition-delay: .8s;
		transition: all .4s linear;
	}

	#fullpage-navigation {
		transform: translateX(100%);
		opacity: 0;
		transition-delay: 1.2s;
		transition: all .4s linear;
	}

	&.show-page {
		header .logo {
			transform: translateX(0);
			opacity: 1;
		}

		header .header-nav-icon {
			transform: translateX(0);
			opacity: 1;
		}

		#widget-left {
			transform: translateY(0%);
			opacity: 1;
		}

		#widget-right {
			transform: translateY(0%);
			opacity: 1;
		}

		#fullpage-navigation {
			transform: translateX(0);
			opacity: 1;
		}
	}
}