.section#valencia-1(fp-title="Giới thiệu")
	.section-content
		.background
			img(src="./assets/valencia/v_1-mobile.jpg", alt="")
		.text
			h2
				img(src="./assets/valencia/valencia.svg", alt="")
			span.tagline
				img(src="./assets/valencia/tagline_1.svg", alt="")
			p "Cảm hứng từ Miền đất của những  kiến trúc tuyệt mỹ với nắng ấm chan hòa, những sự kiện sôi động và những lễ hội rực rỡ sắc màu miền Địa Trung Hải"