.section#valencia-2(fp-title="Bản đồ")
	.section-content.imagemap-with-list
		.background
		.imgMapCanvas(data-canvas="label")
			.map-canvas
				map(name="imgMap_1", id="imgMap_1")
					<area shape="poly" coords="845, 275, 797, 312, 871, 325, 906, 332, 924, 332, 941, 330, 955, 327, 964, 323, 980, 317, 991, 317, 1001, 312, 1002, 304, 991, 299, 921, 287" href="/the-suite" alt="1"/>
					<area shape="poly" coords="796, 313, 788, 321, 786, 330, 786, 338, 789, 346, 798, 357, 894, 345, 899, 336, 880, 329, 861, 326" href="/the-grand-villas" alt="3"/>
					<area shape="poly" coords="634, 256, 767, 268, 839, 275, 800, 302, 791, 310, 783, 316, 780, 322, 778, 329, 778, 337, 778, 342, 783, 347, 785, 350, 792, 356, 654, 375, 598, 371, 513, 376, 463, 379, 438, 379, 435, 376, 434, 369, 441, 367, 466, 357, 493, 352, 518, 348, 568, 344, 619, 348, 643, 349, 684, 342, 703, 328, 702, 320, 691, 295, 673, 282, 655, 271, 640, 271, 627, 258" href="/the-elite" alt="2"/>
					<area shape="poly" coords="654, 376, 893, 348, 892, 358, 905, 363, 910, 369, 918, 371, 918, 378, 926, 385, 942, 390, 950, 396, 950, 400, 950, 403, 948, 407, 944, 411, 943, 412, 943, 415, 943, 418, 943, 420, 943, 424, 942, 427, 939, 429, 939, 431, 936, 433, 934, 437, 932, 439, 930, 441, 927, 444, 926, 445, 923, 449, 916, 455, 913, 456, 908, 457, 906, 459, 878, 450, 770, 437, 721, 427, 605, 429, 432, 509, 412, 513, 402, 513, 397, 510, 394, 508, 393, 505, 394, 499, 400, 493, 406, 488, 410, 483, 415, 480, 604, 391" href="/the-stella" alt="4"/>
					<area shape="poly" coords="1066, 525, 1001, 524, 710, 679, 708, 704, 717, 780, 740, 812, 781, 844, 820, 860, 847, 862, 875, 856, 893, 841, 915, 838, 948, 829, 963, 832, 992, 824, 1009, 831, 1016, 837, 1062, 828, 1146, 774, 1161, 775, 1197, 772, 1218, 781, 1232, 777, 1247, 786, 1304, 808, 1345, 817, 1365, 817, 1373, 813, 1373, 800, 1360, 773, 1367, 762, 1374, 751, 1389, 746, 1408, 744, 1415, 734, 1395, 694, 1090, 536, 1087, 507, 1078, 500, 1069, 508, 1065, 515" alt="5"/>
				canvas
			.map-image
				img(src="./assets/valencia/v_2.jpg", usemap="#imgMap_1")
		.content
			.title-block
				h2 PHÂN KHU DỰ ÁN
					//- br
					//- | DỰ ÁN
			.utilities-list
				.text(data-utilities-target=1)
					p 1. THE SUITE
					
				.text(data-utilities-target=2)
					p 2. THE ELITE
					
				.text(data-utilities-target=3)
					p 3. THE GRAND VILLAS
					
				.text(data-utilities-target=4)
					p 4. THE STELLA
					
				.text(data-utilities-target=5)
					p 5. THE VALENCIA
		//- .text
		//- 	h2 Bản đồ 
		//- 		br
		//- 		| phân khu
		//- 	.utilities-list.row
		//- 		.col-auto
		//- 			p 1. THE SUITE
		//- 			p 2. THE ELITE
		//- 			p 3. THE GRAND VILLAS
		//- 			p 4. THE STELLA
		//- 			p 5. THE VALENCIA