.section#valencia-4(fp-title="Kiến trúc - Tiện nghi - Sự kiện")
	.section-content
		.container
			.row.jc-c
				//- .block-title
				//- 	h2 
				//- 		span KIẾN TRÚC 
				//- 		br
				//- 		span 
				//- 			span.tagline
				//- 			span TUYỆT MỸ
				.col-lg-10.col-tab
					.tab-container
						.list-tab
							.item(toggle-for="slider_1") 
								p KIẾN TRÚC TUYỆT MỸ
							.item(toggle-for="slider_2") 
								p TIỆN NGHI & HIỆN ĐẠI
							.item(toggle-for="slider_3") 
								p SỰ KIỆN & LỄ HỘI
						.tab-content
							.slider-append
							.content(tab-id="slider_1")
								.slider-wrapper
									.swiper-prev
										//- img.desktop(src="./assets/valencia/arrow_up.png")
										img(src="./assets/valencia/arrow_left.png")
									.swiper-next
										//- img.desktop(src="./assets/valencia/arrow_down.png")
										img(src="./assets/valencia/arrow_right.png")
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												span
													img(src="./assets/valencia/v_4-1.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_4-2.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_4-3.png")
							.content(tab-id="slider_2")
								.slider-wrapper
									.swiper-prev
										//- img.desktop(src="./assets/valencia/arrow_up.png")
										img(src="./assets/valencia/arrow_left.png")
									.swiper-next
										//- img.desktop(src="./assets/valencia/arrow_down.png")
										img(src="./assets/valencia/arrow_right.png")
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												span
													img(src="./assets/valencia/v_5-1.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_5-2.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_5-3.png")
							.content(tab-id="slider_3")
								.slider-wrapper
									.swiper-prev
										//- img.desktop(src="./assets/valencia/arrow_up.png")
										img(src="./assets/valencia/arrow_left.png")
									.swiper-next
										//- img.desktop(src="./assets/valencia/arrow_down.png")
										img(src="./assets/valencia/arrow_right.png")
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												span
													img(src="./assets/valencia/v_6-1.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_6-2.png")
											.swiper-slide
												span
													img(src="./assets/valencia/v_6-3.png")
