.section#valencia-4(fp-title="Kiến trúc")
	.section-content
		.container
			.row
				.block-title
					h2 
						span Kiến trúc
						br
						span 
							span.tagline
							span tuyệt mỹ
				.col-lg-6
					.slider-wrapper
						.swiper-prev
							img.desktop(src="./assets/valencia/arrow_up.png")
							img.mobile(src="./assets/valencia/arrow_left.png")
						.swiper-next
							img.desktop(src="./assets/valencia/arrow_down.png")
							img.mobile(src="./assets/valencia/arrow_right.png")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									span
										img(src="./assets/valencia/v_4-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_4-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_4-3.png")
