.section#valencia-5(fp-title="Tiện nghi")
	.section-content
		.block-title
			h2 
				span TIỆN NGHI
				span.percent &
				br
				span 
					span.tagline
					span HIỆN ĐẠI
		.container
			.row
				.col-lg-9.col-xl-10
					.slider-wrapper
						.swiper-prev
							//- img.desktop(src="./assets/valencia/arrow_up.png")
							img(src="./assets/valencia/arrow_left.png")
						.swiper-next
							//- img.desktop(src="./assets/valencia/arrow_down.png")
							img(src="./assets/valencia/arrow_right.png")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-3.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_5-3.png")

				//- .block-title
				//- 	h2 
				//- 		span Tiện nghi 
				//- 		span.percent &
				//- 		br
				//- 		span 
				//- 			span.tagline
				//- 			span  Hiện đại