.section#valencia-6(fp-title="Sự kiện")
	.section-content
		.container
			.row
				.block-title
					h2 
						span Sự kiện 
						span.percent &
						br
						span 
							span.tagline
							span lễ hội
				.col-lg-6
					.slider-wrapper
						.swiper-prev
							img.desktop(src="./assets/valencia/arrow_up.png")
							img.mobile(src="./assets/valencia/arrow_left.png")
						.swiper-next
							img.desktop(src="./assets/valencia/arrow_down.png")
							img.mobile(src="./assets/valencia/arrow_right.png")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-3.png")
