.section#valencia-6(fp-title="Sự kiện")
	.section-content
		.container
			.block-title
				h2 
					span SỰ KIỆN
					span.percent &
					br
					span 
						span.tagline
						span LỄ HỘI
			.row
				.col-lg-9.col-2xl-10
					.slider-wrapper
						.swiper-prev
							//- img.desktop(src="./assets/valencia/arrow_up.png")
							img(src="./assets/valencia/arrow_left.png")
						.swiper-next
							//- img.desktop(src="./assets/valencia/arrow_down.png")
							img(src="./assets/valencia/arrow_right.png")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-3.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-1.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-2.png")
								.swiper-slide
									span
										img(src="./assets/valencia/v_6-3.png")
