.section#valencia-7(fp-title="Mặt bằng")
	.row.no-gutters
		.col-lg-4.col-title
			.block-title
				h2 
					span.main MẶT BẰNG TỔNG THỂ
					br
					span.tagline
					span.sub Master plan
				//- a(data-fancybox data-src="#popup-fronts-1") Popup 1
				//- a(data-fancybox data-src="#popup-fronts-2") Popup 2
				ul
					li
						span.text Grand Overview Villa
						span.color
					li
						span.text Premium Green Villa
						span.color
					li
						span.text Grand Light Shophouse
						span.color
					li
						span.text Deluxe Green House
						span.color
					li
						span.text Deluxe Green House
						span.color
					li
						span.text Deluxe Green House
						span.color
		.col-lg-8.col-plan
			.imgMapCanvas(data-canvas="popup")
				.map-canvas
					map(name="valenciaMap_7", id="valenciaMap_7")
						<area shape="poly" coords="532, 310, 516, 345, 533, 354, 550, 317" alt="5" />
						<area shape="poly" coords="705, 399, 687, 432, 746, 462, 763, 429" alt="6" />
						<area shape="poly" coords="161, 45, 161, 73, 269, 75, 269, 44" alt="1" />
						<area shape="poly" coords="280, 65, 333, 52, 342, 42, 363, 43, 368, 36, 378, 33, 391, 57, 386, 66, 298, 88, 287, 83" alt="1" />
						<area shape="poly" coords="455, 160, 492, 208, 529, 237, 559, 250, 566, 236, 515, 199, 504, 185, 474, 148" alt="1" />
						<area shape="poly" coords="593, 260, 600, 251, 670, 285, 678, 270, 700, 276, 679, 316, 673, 318, 584, 272" alt="1" />
						<area shape="poly" coords="381, 14, 447, 145, 465, 138, 443, 92, 441, 75, 419, 35, 389, 5" alt="1" />
						<area shape="poly" coords="306, 141, 301, 149, 308, 171, 313, 178, 434, 150, 436, 142, 421, 119, 414, 115" alt="2" />
						<area shape="poly" coords="295, 95, 290, 103, 294, 123, 303, 133, 409, 108, 414, 100, 398, 71" alt="2" />
						<area shape="poly" coords="172, 80, 167, 87, 167, 115, 174, 122, 267, 121, 267, 80" alt="2" />
						<area shape="poly" coords="567, 238, 537, 302, 553, 309, 561, 298, 587, 246" alt="2" />
						<area shape="poly" coords="138, 72, 137, 118, 157, 118, 157, 72" alt="2" />
						<area shape="poly" coords="784, 342, 751, 407, 768, 415, 801, 350" alt="2" />
						<area shape="poly" coords="647, 532, 641, 536, 636, 547, 690, 577, 700, 560" alt="3" />
						<area shape="poly" coords="139, 128, 139, 163, 158, 163, 157, 128" alt="3" />
						<area shape="poly" coords="139, 173, 138, 212, 156, 212, 156, 174" alt="3" />
						<area shape="poly" coords="138, 218, 137, 264, 157, 263, 156, 218" alt="3" />
						<area shape="poly" coords="138, 269, 138, 309, 157, 309, 157, 268" alt="3" />
						<area shape="poly" coords="135, 316, 137, 357, 154, 358, 154, 316" alt="3" />
						<area shape="poly" coords="318, 363, 469, 439, 460, 456, 309, 380" alt="3" />
						<area shape="poly" coords="496, 453, 628, 522, 618, 539, 488, 470" alt="3" />
						<area shape="poly" coords="165, 175, 164, 213, 292, 213, 292, 175" alt="4" />
						<area shape="poly" coords="163, 223, 164, 260, 297, 259, 297, 222" alt="4" />
						<area shape="poly" coords="164, 270, 163, 306, 316, 305, 315, 269" alt="4" />
						<area shape="poly" coords="164, 319, 164, 337, 315, 337, 315, 317" alt="4" />
						<area shape="poly" coords="293, 339, 279, 366, 296, 373, 314, 338" alt="4" />
						<area shape="poly" coords="363, 278, 345, 309, 468, 374, 486, 341" alt="4" />
						<area shape="poly" coords="339, 320, 323, 351, 446, 416, 465, 384" alt="4" />
						<area shape="poly" coords="456, 422, 477, 385, 491, 394, 474, 429" alt="4" />
						<area shape="poly" coords="481, 379, 499, 343, 515, 352, 496, 387" alt="4" />
						<area shape="poly" coords="498, 337, 545, 245, 559, 251, 513, 344" alt="4" />
						<area shape="poly" coords="700, 302, 667, 366, 699, 383, 734, 319" alt="4" />
						<area shape="poly" coords="743, 322, 708, 389, 741, 407, 775, 339" alt="4" />
						<area shape="poly" coords="425, 256, 416, 273, 402, 267, 394, 284, 489, 334, 508, 298" alt="5" />
						<area shape="poly" coords="712, 274, 725, 272, 743, 277, 752, 284, 741, 312, 702, 294" alt="5" />
						<area shape="poly" coords="756, 286, 779, 296, 787, 309, 815, 328, 806, 343, 743, 313" alt="5" />
						<area shape="poly" coords="320, 235, 471, 198, 495, 223, 491, 233, 330, 272" alt="5" />
						<area shape="poly" coords="516, 353, 496, 388, 511, 397, 528, 361" alt="5" />
						<area shape="poly" coords="494, 396, 475, 431, 491, 439, 509, 404" alt="5" />
						<area shape="poly" coords="580, 281, 564, 313, 657, 362, 676, 331" alt="5" />
						<area shape="poly" coords="560, 326, 542, 357, 676, 424, 694, 394" alt="5" />
						<area shape="poly" coords="538, 366, 520, 401, 654, 467, 671, 436" alt="5" />
						<area shape="poly" coords="517, 411, 499, 445, 633, 513, 651, 479" alt="5" />
						<area shape="poly" coords="165, 127, 166, 167, 279, 167, 280, 127" alt="6" />
						<area shape="poly" coords="310, 188, 319, 224, 464, 190, 440, 158" alt="6" />
						<area shape="poly" coords="489, 243, 493, 262, 517, 277, 528, 258, 526, 244, 511, 236" alt="6" />
						<area shape="poly" coords="683, 442, 665, 474, 725, 507, 743, 473" alt="6" />
						<area shape="poly" coords="661, 485, 644, 517, 706, 549, 722, 517" alt="6" />
					canvas
				.map-image
					img(src="./assets/valencia/v_7.jpg", usemap="#valenciaMap_7")
	.container.mobile
		.row.fronts-list
			.col-6.col-md-4.item
				a(alt="1") 
					h3 Grand River View Villa
					p 17x26M
			.col-6.col-md-4.item
				a(alt="2") 
					h3 Premium Green Villa
					p 12x18.5M
			.col-6.col-md-4.item
				a(alt="3") 
					h3 Grand Light Shophouse
					p 6x19.5M
			.col-6.col-md-4.item
				a(alt="4") 
					h3 Deluxe Green House
					p 6x19.5M
			.col-6.col-md-4.item
				a(alt="5") 
					h3 Deluxe Green House
					p 7x19.5M
			.col-6.col-md-4.item
				a(alt="6") 
					h3 Deluxe Green House
					p 8x19.5M
	.d-none
		.v7-popup#v7-popup-1.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-grand-light.jpg", alt="")
					.col-lg-5
						.info
							h2 Grand River View Villa
							//- ul.list-info
							//- 	li.item-info.group-1
							//- 		.flex-box
							//- 			p Z-T1-V1A
							//- 			p (Type A)
							//- 		h4 6 x 19.5 (m)
							//- 	li.item-info.group-2
							//- 		.box-content
							//- 			h3 DIỆN TÍCH KHU ĐẤT
							//- 			p Site area
							//- 			h4 117 m
							//- 				sup 2
							//- 		.box-content
							//- 			h3 DIỆN TÍCH KHU ĐẤT
							//- 			p Gross ﬂoor area (GFA)
							//- 			h4 222.63 m
							//- 				sup 2
							//- i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							//- a.btn.btn-viewmore(data-src='#v7-popup-d-1') Chi tiết
		.v7-popup#v7-popup-2.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-grand-light.jpg", alt="")
					.col-lg-5
						.info
							h2 Premium Green Villa
							//- ul.list-info
							//- 	li.item-info.group-1
							//- 		.flex-box
							//- 			p Z-T1-V1A
							//- 			p (Type A)
							//- 		h4 6 x 19.5 (m)
							//- 	li.item-info.group-2
							//- 		.box-content
							//- 			h3 DIỆN TÍCH KHU ĐẤT
							//- 			p Site area
							//- 			h4 117 m
							//- 				sup 2
							//- 		.box-content
							//- 			h3 DIỆN TÍCH KHU ĐẤT
							//- 			p Gross ﬂoor area (GFA)
							//- 			h4 222.63 m
							//- 				sup 2
							//- i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							//- a.btn.btn-viewmore(data-src='#v7-popup-d-2') Chi tiết
		.v7-popup#v7-popup-3.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-grand-light.jpg", alt="")
					.col-lg-5
						.info
							h2 Grand Light Shophouse
							ul.list-info
								li.item-info.group-1
									.flex-box
										p Z-T1-V1A 
										p (Type A)
									h4 6 x 19.5 (m)
								li.item-info.group-2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Site area
										h4 117 m
											sup 2
									.box-content
										h3 TỔNG DIỆN TÍCH SÀN SỬ DỤNG
										p Gross ﬂoor area (GFA)
										h4 222.63 m
											sup 2
							i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							a.btn.btn-viewmore(data-src='#v7-popup-d-3') Chi tiết
		.v7-popup#v7-popup-4.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-deluxe.jpg", alt="")
					.col-lg-5
						.info
							h2 DELUXE GREEN HOUSE
							ul.list-info
								li.item-info.group-1
									.flex-box
										p SH-T1
										p (Type A)
									h4 6 x 19.5 (m)
								li.item-info.group-2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Site area
										h4 117 m
											sup 2
									.box-content
										h3 TỔNG DIỆN TÍCH SÀN SỬ DỤNG
										p Gross ﬂoor area (GFA)
										h4 250.3 m
											sup 2
							i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							a.btn.btn-viewmore(data-src='#v7-popup-d-4') Chi tiết
		.v7-popup#v7-popup-5.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-deluxe.jpg", alt="")
					.col-lg-5
						.info
							h2 DELUXE GREEN HOUSE
							ul.list-info
								li.item-info.group-1
									.flex-box
										p Z-T1-V1A
										p (Type A)
									h4 6 x 19.5 (m)
								li.item-info.group-2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Site area
										h4 117 m
											sup 2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Gross ﬂoor area (GFA)
										h4 222.63 m
											sup 2
							i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							//- a.btn.btn-viewmore(data-src='#v7-popup-d-5') Chi tiết
		.v7-popup#v7-popup-6.popup-fronts-valencia.style-1
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-7
						.img
							img.ofcv(src="./assets/valencia/v_7-img-deluxe.jpg", alt="")
					.col-lg-5
						.info
							h2 DELUXE GREEN HOUSE
							ul.list-info
								li.item-info.group-1
									.flex-box
										p Z-T1-V1A
										p (Type A)
									h4 6 x 19.5 (m)
								li.item-info.group-2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Site area
										h4 117 m
											sup 2
									.box-content
										h3 DIỆN TÍCH KHU ĐẤT
										p Gross ﬂoor area (GFA)
										h4 222.63 m
											sup 2
							i.note (*) Không bao gồm sân thượng và ô trống cầu thang
							//- a.btn.btn-viewmore(data-src='#v7-popup-d-6') Chi tiết
		.v7-popup.v7-popup-d#v7-popup-d-1.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-6
						.img
							img.ofcv(src="./assets/valencia/item-popup-2-01.png", alt="alt")
					.col-lg-6
						.img
							img.ofcv(src="./assets/valencia/item-popup-2-02.png", alt="alt")
		.v7-popup.v7-popup-d#v7-popup-d-2.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-lg-6
						.img
							img.ofcv(src="./assets/valencia/item-popup-2-01.png", alt="alt")
					.col-lg-6
						.img
							img.ofcv(src="./assets/valencia/item-popup-2-02.png", alt="alt")
		.v7-popup.v7-popup-d#v7-popup-d-3.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-12
						.img
							img.ofcv(src="./assets/valencia/v_7-grand-light.jpg", alt="alt")
						.img
							img.ofcv(src="./assets/valencia/v_7-grand-light-a.jpg", alt="alt")
						.img
							img.ofcv(src="./assets/valencia/v_7-grand-light-b.jpg", alt="alt")
					//- .col-lg-6
					//- 	.img
					//- 		img.ofcv(src="./assets/valencia/item-popup-2-01.png", alt="alt")
					//- .col-lg-6
					//- 	.img
					//- 		img.ofcv(src="./assets/valencia/item-popup-2-02.png", alt="alt")
		.v7-popup.v7-popup-d#v7-popup-d-4.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-12
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-a.jpg", alt="alt")
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-b.jpg", alt="alt")
					//- .col-lg-6
					//- 	.img
					//- 		img.ofcv(src="./assets/valencia/item-popup-2-02.png", alt="alt")
		.v7-popup.v7-popup-d#v7-popup-d-5.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
					.col-12
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-a.jpg", alt="alt")
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-b.jpg", alt="alt")
		.v7-popup.v7-popup-d#v7-popup-d-6.popup-fronts-valencia
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.row
					.col-12
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-a.jpg", alt="alt")
						.img
							img.ofcv(src="./assets/valencia/v_7-deluxe-b.jpg", alt="alt")