.section#valencia-7(fp-title="Mặt bằng")
	.row.no-gutters
		.col-lg-4.col-title
			.block-title
				h2 
					span.main Mặt bằng tổng thể
					br
					span.tagline
					span.sub Master plan
		.col-lg-8.col-plan
			.imgMapCanvas(data-canvas="fill")
				.map-canvas
					map(name="valenciaMap_7", id="valenciaMap_7")
					canvas
				.map-image
					img(src="./assets/valencia/v_7.jpg", usemap="#valenciaMap_7")