.section#valencia-8(fp-title="Hình ảnh")
	.section-content
		.container
			.block-title
				h2 
					span.main Hình ảnh 
					br
					span.tagline
					span.sub valencia
			.images-slider
				.slider-wrapper
					.swiper-prev
						img(src="./assets/valencia/arrow_left.png")
					.swiper-next
						img(src="./assets/valencia/arrow_right.png")
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="./assets/valencia/v_8-1.png")
									img(src="./assets/valencia/v_8-1.png")
							.swiper-slide
								a(href="./assets/valencia/v_8-2.png")
									img(src="./assets/valencia/v_8-2.png")
							.swiper-slide
								a(href="./assets/valencia/v_8-3.png")
									img(src="./assets/valencia/v_8-3.png")
							.swiper-slide
								a(href="./assets/valencia/v_8-4.png")
									img(src="./assets/valencia/v_8-4.png")
							.swiper-slide
								a(href="./assets/valencia/v_8-5.png")
									img(src="./assets/valencia/v_8-5.png")
							.swiper-slide
								a(href="./assets/valencia/v_8-6.png")
									img(src="./assets/valencia/v_8-6.png")