.section#valencia-9(fp-title="Video")
	.section-content
		.container
			.block-title
				h2 
					span.main Video clip
					br
					span.tagline
					span.sub valencia
			.images-slider
				.slider-wrapper
					.swiper-prev
						img(src="./assets/valencia/arrow_left.png")
					.swiper-next
						img(src="./assets/valencia/arrow_right.png")
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1" data-fancybox="video-1")
									img(src="./assets/valencia/v_9-1.png")
									.btn-play
										img(src="./assets/btn_play.png")
							.swiper-slide
								a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1" data-fancybox="video-2")
									img(src="./assets/valencia/v_9-3.png")
									.btn-play
										img(src="./assets/btn_play.png")
							.swiper-slide
								a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1" data-fancybox="video-3")
									img(src="./assets/valencia/v_9-4.png")
									.btn-play
										img(src="./assets/btn_play.png")
							//- 	a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1")
							//- 		img(src="./assets/valencia/v_9-1.png")
							//- 		.btn-play
							//- 			img(src="./assets/btn_play.png")
							//- .swiper-slide
							//- 	a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1")
							//- 		img(src="./assets/valencia/v_9-3.png")
							//- 		.btn-play
							//- 			img(src="./assets/btn_play.png")
							//- .swiper-slide
							//- 	a(href="https://www.youtube.com/watch?v=bsEorMP8WIo?autoplay=1")
							//- 		img(src="./assets/valencia/v_9-4.png")
							//- 		.btn-play
							//- 			img(src="./assets/btn_play.png")