section.section-brochure-list
	.content
		.title-block
			h2.main-title.center Tải về
		.row
			.col-item
				.item
					.img
						.img-wrapper
							img(src="./assets/brochure/b_1.jpg", alt="")
					.info
						h3 
							span Brochure
							br
							span The Grand Villas
					.btn-wrapper
						a.btn.btn-readmore(href="#" download target="_blank") Tải về
			.col-item
				.item
					.img
						.img-wrapper
							img(src="./assets/brochure/b_1.jpg", alt="")
					.info
						h3 
							span Brochure
							br
							span The Grand Villas
					.btn-wrapper
						a.btn.btn-readmore(href="#" download target="_blank") Tải về