section.section.section-brochure-list
	.bg-image
		img(src="./assets/brochure/b_bg_3.png", alt="")
	.content
		.title-block
			h2.main-title.center Tải về
		.brochure-slider
			.swiper-prev
				img(src="./assets/btn_toggle.png")
			.swiper-next
				img(src="./assets/btn_toggle.png")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item
							.img
								.img-wrapper
									img(src="./assets/brochure/b_1.jpg", alt="")
							.info
								h3 
									span Brochure
									br
									span The Grand Villas
							.btn-wrapper
								a.btn.btn-readmore(href="./assets/pdf/grandvillas.pdf" target="_blank") Tải về
					.swiper-slide
						.item
							.img
								.img-wrapper
									img(src="./assets/brochure/b_2.jpg", alt="")
							.info
								h3 
									span Brochure
									br
									span The Stella
							.btn-wrapper
								a.btn.btn-readmore(href="./assets/pdf/stella.pdf" target="_blank") Tải về
					.swiper-slide
						.item
							.img
								.img-wrapper
									img(src="./assets/brochure/b_2.jpg", alt="")
							.info
								h3 
									span Brochure
									br
									span The Stella
							.btn-wrapper
								a.btn.btn-readmore(href="./assets/pdf/stella.pdf" target="_blank") Tải về