section.section.section-gallery-image
	.content
		.title-block
			h2.main-title.center Hình ảnh
		.image-slider
			.swiper-prev
				img(src="./assets/btn_toggle.png")
			.swiper-next
				img(src="./assets/btn_toggle.png")
			.swiper-container.desktop
				.swiper-wrapper
					.swiper-slide.image-item
						.img
							img(src="./assets/gallery/i_1.jpg", alt="")
						.info
							h3 Quảng trường mặt trời
					.swiper-slide.image-item
						.img
							img(src="./assets/gallery/i_2.jpg", alt="")
						.info
							h3 Aqua Sport Center
					.swiper-slide.image-item
						.img
							img(src="./assets/gallery/i_3.jpg", alt="")
						.info
							h3 Aqua Central Mall
			.mobile.image-list
				a.image-item(href="./assets/gallery/i_1.jpg" data-fancybox="gal_1")
					.img
						img(src="./assets/gallery/i_1.jpg", alt="")
					.info
						h3 Quảng trường mặt trời
				a.image-item(href="./assets/gallery/i_2.jpg" data-fancybox="gal_2")
					.img
						img(src="./assets/gallery/i_2.jpg", alt="")
					.info
						h3 Aqua Sport Center
				a.image-item(href="./assets/gallery/i_3.jpg" data-fancybox="gal_3")
					.img
						img(src="./assets/gallery/i_3.jpg", alt="")
					.info
						h3 Aqua Central Mall