section.section-gallery-video
	.content
		.title-block
			h2.main-title.center Video
		.video-slider
			.swiper-prev
				img(src="./assets/btn_toggle.png")
			.swiper-next
				img(src="./assets/btn_toggle.png")
			.swiper-container.desktop
				.swiper-wrapper
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=FfttgZy-Z5c")
						.img
							img(src="./assets/gallery/i_4.jpg", alt="")
						.info
							h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=FfttgZy-Z5c")
						.img
							img(src="./assets/gallery/i_4.jpg", alt="")
						.info
							h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=FfttgZy-Z5c")
						.img
							img(src="./assets/gallery/i_4.jpg", alt="")
						.info
							h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
						.btn-play
			.mobile.video-list
				a.video-item(href="https://www.youtube.com/watch?v=FfttgZy-Z5c" data-fancybox="vid_1")
					.img
						img(src="./assets/gallery/i_4.jpg", alt="")
					.info
						h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
					.btn-play
				a.video-item(href="https://www.youtube.com/watch?v=FfttgZy-Z5c" data-fancybox="vid_2")
					.img
						img(src="./assets/gallery/i_4.jpg", alt="")
					.info
						h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
					.btn-play
				a.video-item(href="https://www.youtube.com/watch?v=FfttgZy-Z5c" data-fancybox="vid_3")
					.img
						img(src="./assets/gallery/i_4.jpg", alt="")
					.info
						h3 Đắc địa về vị trí - Đắt giá về tầm nhìn
					.btn-play