section.section.section-gallery-video
	.content
		.title-block
			h2.main-title.center Video
		.video-slider
			.swiper-prev
				img(src="./assets/btn_toggle.png")
			.swiper-next
				img(src="./assets/btn_toggle.png")
			.swiper-container.desktop
				.swiper-wrapper
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=HLNNzR0b3sc")
						.img
							img(src="./assets/gallery/v_1.jpg", alt="")
						.info
							h3 THE STELLA – SỐNG TRỌN YÊN BÌNH
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=E-Ndo8ytmR0")
						.img
							img(src="./assets/gallery/v_2.jpg", alt="")
						.info
							h3 BIỆT THỰ ĐƠN LẬP THU HÚT VỢ CHỒNG SAO VIỆT
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=rqcuIloejtE")
						.img
							img(src="./assets/gallery/v_3.jpg", alt="")
						.info
							h3 AQUA CITY – NƠI HỘI TỤ VẺ ĐẸP THIÊN NHIÊN VÀ CHẤT SỐNG HIỆN ĐẠI
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=TNPccsS7R0c")
						.img
							img(src="./assets/gallery/v_4.jpg", alt="")
						.info
							h3 BẢN TIN TIẾN ĐỘ XÂY DỰNG DỰ ÁN AQUA CITY
						.btn-play
					.swiper-slide.video-item(data-fancybox href="https://www.youtube.com/watch?v=4tSMVbinLcE")
						.img
							img(src="./assets/gallery/v_5.jpg", alt="")
						.info
							h3 BẢN TIN TIẾN ĐỘ XÂY DỰNG DỰ ÁN AQUA CITY
						.btn-play
			.mobile.video-list
				.video-item(href="https://www.youtube.com/watch?v=HLNNzR0b3sc" data-fancybox="v_5")
					.img
						img(src="./assets/gallery/v_1.jpg", alt="")
					.info
						h3 THE STELLA – SỐNG TRỌN YÊN BÌNH
					.btn-play
				.video-item(href="https://www.youtube.com/watch?v=E-Ndo8ytmR0" data-fancybox="v_2")
					.img
						img(src="./assets/gallery/v_2.jpg", alt="")
					.info
						h3 BIỆT THỰ ĐƠN LẬP THU HÚT VỢ CHỒNG SAO VIỆT
					.btn-play
				.video-item(href="https://www.youtube.com/watch?v=rqcuIloejtE" data-fancybox="v_3")
					.img
						img(src="./assets/gallery/v_3.jpg", alt="")
					.info
						h3 AQUA CITY – NƠI HỘI TỤ VẺ ĐẸP THIÊN NHIÊN VÀ CHẤT SỐNG HIỆN ĐẠI
					.btn-play
				.video-item(href="https://www.youtube.com/watch?v=TNPccsS7R0c" data-fancybox="v_4")
					.img
						img(src="./assets/gallery/v_4.jpg", alt="")
					.info
						h3 BẢN TIN TIẾN ĐỘ XÂY DỰNG DỰ ÁN AQUA CITY
					.btn-play
				.video-item(href="https://www.youtube.com/watch?v=4tSMVbinLcE" data-fancybox="v_5")
					.img
						img(src="./assets/gallery/v_5.jpg", alt="")
					.info
						h3 BẢN TIN TIẾN ĐỘ XÂY DỰNG DỰ ÁN AQUA CITY
					.btn-play