.villas-6 {
	background-color: white;
	background-image: url(../assets/villas/v_6_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 00%;
	background-size: 100% 70%;
	padding: 110px 50px 25px 50px;
	display: flex;
	align-items: center;

	.content {
		flex: 0 0 100%;
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
		position: relative;
		padding: 0 10px;

		.line-top {
			position: absolute;
			top: 24%;
			width: 2000px;
			left: 22%;
			height: 3px;
			background-color: map-get($mau, main-2);
		}

		.line-bottom {
			position: absolute;
			bottom: 5%;
			left: 0;
			background-color: map-get($mau, main-2);
			width: 2000px;
			height: 3px;
		}

		.line-left {
			position: absolute;
			bottom: 5%;
			left: 0;
			background-color: #b7883d;
			width: 3px;
			height: 19%;
		}
	}

	.swiper-prev {
		background-image: url('../assets/btn-left.png');
		right: 65px;
	}

	.swiper-next {
		background-image: url('../assets/btn-right.png');
		right: 15px;
	}

	.swiper-prev,
	.swiper-next {
		position: absolute;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center;
		width: 50px;
		height: 50px;
		z-index: 2;
		cursor: pointer;
	}

	.title {
		display: flex;
		margin: 0 -15px;
		align-items: flex-end;

		h2 {
			padding: 0 15px;
			flex: 0 0 auto;
			width: auto;
			max-width: 100%;
			font-size: 70px;
			color: white;
			text-transform: uppercase;
		}

		.title-slider {
			margin-left: auto;
			position: relative;
			padding: 0 15px;
			flex: 0 0 950px;
			max-width: 950px;
		}
	}

	.info {
		display: flex;
		margin: 0 -15px;
		margin-top: 30px;
		align-items: flex-start;

		.text,
		.info-slider {
			max-width: 50%;
			flex: 0 0 50%;
			padding: 0 15px;
		}

		.info-slider {
			position: relative;
			margin-left: auto;

			img {
				width: 100%;
			}
		}

		.text {
			padding: 20px 50px;
			background-image: url(../assets/villas/v_6_bg_2.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-left: -35px;

			p {
				font-size: 28px;
				color: white;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				display: -webkit-box;
				text-overflow: ellipsis;
			}
		}
	}

	@media (max-width: 1439.98px) {
		.content {
			max-width: 1010px;

			.line-top {
				top: 17%;
				left: 23%;
			}
		}

		.title {
			.title-slider {
				max-width: 620px;
			}

			h2 {
				font-size: 50px;
			}
		}

		.info {
			.text {
				p {
					font-size: 25px;
				}
			}
		}
	}

	@media (max-width: 1199.98px) {
		.content {
			max-width: 930px;
		}

		.title {
			h2 {
				font-size: 30px;
			}
		}
	}

	@media (max-width: 1024px) {
		padding: 30px 0;

		.content {

			.line-top,
			.line-bottom,
			.line-left,
			.line-right {
				display: none;
			}
		}

		.title {
			display: block;
			margin: 0;

			h2 {
				padding: 0;
				text-align: center;
				font-size: 24px;

				br {
					display: none;
				}
			}

			.title-slider {
				display: none;
			}
		}

		.info {
			flex-wrap: wrap;
			margin: 0;

			.text {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: 0;
				background: none;
				padding: 15px;

				p {
					font-size: 16px;
					-webkit-line-clamp: unset;
					text-align: center;
				}
			}

			.info-slider {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: 0;
				padding: 0;
			}
		}
	}
}