@{
    Layout = null;
}
@model MainProject.Service.Model.Home.HeaderViewModel


<header>
    <div class="container">
        <div class="row no-gutters">
            <div class="logo"><a href="/"><img src="/Content/resources/assets/logo.png" alt=""></a></div>
            <div class="header-nav-icon"><span class="menu-toggle"><span>M</span><span>e</span><span>n</span><span>u</span></span></div>
        </div>
    </div>
    <div class="header-nav-wrapper">
        <div class="header-nav-close"><span></span><span></span></div>
        <nav><a class="active" href="/" fp-target="0">Trang chủ</a><a href="/" fp-target="1">Mặt bằng</a><a href="/" fp-target="2">Vị trí</a><a href="/" fp-target="3">Sinh thái thông minh</a><a href="/" fp-target="4">Tiện ích</a><a href="/" fp-target="5">Phân khu</a><a href="/" fp-target="6">Thư viện</a><a href="/" fp-target="7">Tin tức</a><a href="/" fp-target="8">Liên hệ</a><a href="/" fp-target="9">Thông tin chung</a></nav>
    </div>
</header>