.section.area-1.area
	.img
		img(src="./assets/area/a_1.jpg", alt="")
	.content
		.logo
			img(src="./assets/logo_stella_2.png", alt="")
		.text
			img.svg-image(data-src='./assets/area/song_tron_binh_yen.svg')