.section.area-2.area
	.imgMapCanvas
		.map-canvas
			map(name="mapEffect" id="mapEffect")
				<area shape="poly" coords="349, 380, 372, 391, 383, 405, 387, 419, 380, 438, 365, 463, 347, 481, 324, 497, 288, 523, 265, 543, 244, 561, 227, 580, 203, 605, 189, 618, 168, 637, 161, 633, 150, 638, 156, 643, 139, 655, 133, 652, 125, 654, 122, 661, 106, 672, 106, 681, 109, 685, 143, 702, 178, 711, 210, 719, 236, 722, 272, 723, 313, 721, 355, 730, 394, 738, 419, 738, 453, 730, 481, 720, 517, 703, 554, 686, 576, 680, 598, 678, 618, 673, 648, 664, 695, 649, 720, 641, 747, 635, 781, 634, 813, 631, 590, 394, 581, 392, 508, 410, 498, 404, 473, 395, 419, 382, 369, 373, 356, 372" />
			canvas
		.map-image
			img(src="./assets/area/a_2.jpg", usemap="#mapEffect")