.section.area-2.area
	.imgMapCanvas.desktop
		.map-canvas
			map(name="mapEffect" id="mapEffect")
				<area shape="poly" coords="377, 358, 367, 365, 366, 437, 340, 463, 279, 508, 233, 545, 191, 594, 168, 613, 162, 612, 148, 618, 156, 623, 143, 630, 128, 629, 121, 635, 117, 642, 103, 656, 103, 697, 139, 717, 223, 738, 261, 741, 314, 736, 377, 751, 418, 751, 443, 748, 562, 696, 581, 696, 607, 694, 737, 651, 759, 649, 813, 641, 813, 608, 589, 379, 552, 380, 499, 391, 473, 377" />
			canvas
		.map-image
			img(src="./assets/area/a_2.jpg", usemap="#mapEffect")