.section.area-2.area
	.imgMapCanvas
		.map-canvas
			map(name="mapEffect" id="mapEffect")
				<area shape="poly" coords="344, 377, 366, 373, 410, 381, 454, 390, 481, 393, 501, 408, 584, 393, 593, 393, 817, 632, 775, 634, 751, 635, 722, 641, 691, 653, 655, 665, 616, 677, 587, 682, 573, 681, 443, 736, 417, 737, 387, 738, 318, 724, 266, 724, 215, 722, 104, 687, 105, 673, 123, 655, 134, 650, 141, 651, 150, 643, 148, 639, 159, 632, 169, 637, 233, 567, 278, 529, 314, 500, 357, 466, 384, 431, 381, 402, 370, 390, 338, 383" />
			canvas
		.map-image
			img(src="./assets/area/a_2.jpg", usemap="#mapEffect")