.section.area-4.area
	.section-widget
		.title
			p
				span Trải nghiệm
				span Nhịp Sống Sôi Động Đậm Chất Ý tại
			p.title-text.grad Aqua Marina
		a.btn.btn-viewmore(href="#" data-fancybox data-src="#popup-area-4") Tìm hiểu thêm
	.row.no-gutters
		.col-md-auto.img
			img(src="./assets/area/a_4.png", alt="")
			a.btn-play(href="./assets/videos/a_4.mp4" data-fancybox="video_4")
				img(src="./assets/btn_play.png", alt="")
		.col-md
			.number
				span 1
	.d-none
		#popup-area-4.popup-area-4
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.content
					.row
						.col-sm-6
							.img
								img(src="./assets/area/a_4_1.jpg", alt="")
							.text
								h3 Nhà hàng Marina
								h3 Phố cà phê
						.col-sm-6
							.img
								img(src="./assets/area/a_4_2.jpg", alt="")
							.text
								h3 Phố mua sắm
								h3 Phố thời trang
						.col-sm-6
							.img
								img(src="./assets/area/a_4_3.jpg", alt="")
							.text
								h3 Quảng trường 
									br 
									| mặt trời
						.col-sm-6
							.img
								img(src="./assets/area/a_4_4.jpg", alt="")
							.text
								h3 Vòng xoay mặt trời
								h3 Đường dạo bên sông