.section.area-4.area
	.section-widget
		.title
			p
				span Trải nghiệm
				span Nhịp Sống Sôi Động Đậm Chất Ý tại
			p.title-text.grad Aqua Marina
		a(href="#") Tìm hiểu thêm
	.row.no-gutters
		.col-md-auto.img
			img(src="./assets/area/a_4.png", alt="")
		.col-md
			.number
				span 1	