.section.area-4.area
	.section-widget
		.title
			p
				span Trải nghiệm
				span Nhịp Sống Sôi Động Đậm Chất Ý tại
			p.title-text.grad Aqua Marina
		a.btn.btn-viewmore(href="#" data-fancybox data-src="#popup-area-4") Tìm hiểu thêm
	.row.no-gutters
		.col-md-auto.img
			img(src="./assets/area/a_4.png", alt="")
		.col-md
			.number
				span 1
	.d-none
		#popup-area-4.popup-area-4
			//- span.fancybox-button.fancybox-button--close(data-fancybox-close title='Close')
			//- 	<svg xmlns="http://www.w3.org/2000/svg" width="55.37" height="56.06" viewBox="0 0 55.37 56.06"><defs><style>.cls-1 {fill: #4c8343;stroke: #4c8343;stroke-width: 3px;fill-rule: evenodd;}</style></defs><path class="cls-1" d="M3764.5,4309.98l5.25,5.25-46.52,46.52-5.25-5.25Z" transform="translate(-3716.16 -4308.47)"/><path id="Shape_774_copy" data-name="Shape 774 copy" class="cls-1" d="M3770.02,4357.71l-5.31,5.31-47.06-47.07,5.3-5.3Z" transform="translate(-3716.16 -4308.47)"/></svg>	
			.container
				.logo
					a(href="/", title="title")
						img(src="./assets/logo.png", alt="")
				.content
					.row
						.col-sm-6
							.img
								img(src="./assets/area/a_4_1.jpg", alt="")
							.text
								h3 Nhà hàng marina
								h3 Phố cà phê
						.col-sm-6
							.img
								img(src="./assets/area/a_4_2.jpg", alt="")
							.text
								h3 Phố mua sắm
								h3 Phố thời trang
						.col-sm-6
							.img
								img(src="./assets/area/a_4_3.jpg", alt="")
							.text
								h3 Quảng trường 
									br 
									| mặt trời
						.col-sm-6
							.img
								img(src="./assets/area/a_4_4.jpg", alt="")
							.text
								h3 Vòng xoay mặt trời
								h3 Đường dạo bên sông