.section.area.area-5
	.container
		.content
			.row
				.col-sm-6.item
					.info
						.number 2
						.text
							h3 AQUA
								br 
								| SPORT COMPLEX
							p Sống Khỏe Tràn Năng Lượng
					.img
						img(src="./assets/area/a_5_1.jpg", alt="")
				.col-sm-6.item
					.info
						.number 3
						.text
							h3 AQUA
								br 
								| CENTRAL MALL
							p Tiện nghi cho cuộc sống đầy đủ
					.img
						img(src="./assets/area/a_5_2.jpg", alt="")