.section.area.area-6(fp-title="Sinh Thái")
	.img(style="background-image: url(./assets/area/a_6.jpg)")
		img.lazyload(data-src="./assets/area/a_6.jpg", alt="")
	.content
		.number 4
		.title
			p Nơi giao hòa
			h2 Giữa thiên nhiên 
				br 
				| và con người
		.items
			.item
				h3 10.000 - 12.000 m
					sup 2
				hr.tagline
				p vườn ươm	
			.item
				h3 70%
				hr.tagline
				p diện tích dành cho 
					br 
					| mảng xanh và tiện ích chung
