.section.area.area-7
	.content
		.title
			p Một chạm
			h2 Đến ngàn tiện ích
		.row
			.col-lg-6.item
				.info
					.text
						h3 Trụ sạc 
							br 
							| thông minh
						hr.tagline
				.img
					img(src="./assets/area/a_5_1.jpg", alt="")
			.col-lg-6.item
				.info
					.text
						h3 Camera
							br 
							| Giám sát 24/24
						hr.tagline
				.img
					img(src="./assets/area/a_5_2.jpg", alt="")