.news-related {
	background-color: white;

	>.img {
		height: 100%;
	}

	.title-block {
		margin-bottom: 30px;

		.main-title {
			color: white;

			@media (min-width: 1025px) {
				font-size: 50px;
			}

			@media (min-width: 1610px) {
				font-size: 70px;
			}
		}
	}

	.content {
		@media (min-width: 1025px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 110px 20px 30px;
		}

		@media (min-width: 1610px) {
			padding-bottom: 10%;
			padding: 150px 25px 50px;
		}
	}

	.button-wrapper {
		display: flex;
		justify-content: center;

		.btn-viewmore {
			height: 40px;
			padding: 0 40px;
			border: 2px solid map-get($mau, main);
			border-radius: 20px;
			transition: all .4s ease-in-out;
			font-weight: 700;

			@media (min-width: 1025px) {
				&:hover {
					background-color: map-get($mau, main);
					color: white;
				}
			}
		}

		@media (min-width: 1025px) {
			padding-top: 30px;
		}

		@media (max-width: 1024px) {
			padding-top: 20px;
		}
	}

	.news-items {
		position: relative;
		margin: 0 auto;

		.swiper-slide {
			display: flex;
			justify-content: center;
		}

		.news-item {
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 100%;
			max-width: 100%;
			opacity: 1;
			transform: translateY(0);

			.text {

				h3 {
					text-align: center;
					height: auto;
				}
			}
		}

		@media (max-width: 1024.98px) {
			margin: 0 -5px;

			.news-item {
				padding: 0 5px;
				-ms-flex: 0 0 100%;
				-webkit-box-flex: 0;
				flex: 0 0 50%;
				max-width: 50%;
				margin-top: 25px;

				a {
					display: flex;
					flex-wrap: wrap;
				}

				.img,
				.button-wrapper {
					clear: both;
					-ms-flex: 0 0 100%;
					-webkit-box-flex: 0;
					flex: 0 0 100%;
					max-width: 100%;
				}

				.text {
					padding-top: 10px;
					-ms-flex-preferred-size: 0;
					-ms-flex-positive: 1;
					-webkit-box-flex: 1;
					flex-basis: 0;
					flex-grow: 1;
					max-width: 100%;
				}

				.button-wrapper {
					margin-left: auto;
				}
			}
		}

		@media (max-width: 575.98px) {
			.news-item {
				-ms-flex: 0 0 100%;
				-webkit-box-flex: 0;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}


		@media (min-width: 1025px) {
			max-width: 970px;
			padding: 0 40px;
		}

		@media (min-width: 1200px) {
			max-width: 1000px;
		}

		@media (min-width: 1440px) {
			max-width: 1200px;
		}
	}

	.swiper-prev,
	.swiper-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		color: map-get($mau, main);
		border-radius: 5px;
		cursor: pointer;
		width: 20px;
	}

	.swiper-prev {
		left: 0;
		transform: rotate(180deg) translateY(50%);
	}

	.swiper-next {
		right: 0;
	}

	@media (max-width: 1024px) {
		padding: 30px 0;

		>.img {
			display: none;
		}

		.title-block {
			.main-title {
				color: map-get($mau, main);
			}
		}
	}
}