.news-related {
	background-color: white;
	transition: .3s all ease;

	>.img {
		height: 100%;
	}

	.title-block {
		margin-bottom: 30px;

		.main-title {
			color: map-get($mau, main);

			@media (min-width: 1025px) {
				font-size: 50px;
			}

			@media (min-width: 1610px) {
				font-size: 70px;
			}
		}
	}

	.content {
		@media (min-width: 1025px) {
			width: 100%;
			height: 100%;
			display: flex;

			>.container {
				max-width: 1140px;
			}
		}

		@media (min-width: 1610px) {
			padding: 25px;
		}
	}

	.button-wrapper {
		display: flex;
		justify-content: center;

		.btn-viewmore {
			height: 40px;
			padding: 0 40px;
			border: 2px solid map-get($mau, main);
			border-radius: 20px;
			transition: all .4s ease-in-out;
			font-weight: 700;

			@media (min-width: 1025px) {
				&:hover {
					background-color: map-get($mau, main);
					color: white;
				}
			}
		}

		@media (min-width: 1025px) {
			padding-top: 30px;
		}

		@media (max-width: 1024px) {
			padding-top: 20px;
		}
	}

	.news-items {
		position: relative;
		margin: 0 auto;
		transition: .3s all ease;

		&.fixed {
			position: fixed;
			width: 100%;
			left: 0;
			top: 109px;
			background: #ffffff;
			z-index: 50;
			padding-top: 0;
			padding-bottom: 10px;
			box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

			.news-item {
				margin-top: 10px;
			}
		}
		.row{
			justify-content: center;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;
		}

		.news-item {
			-webkit-box-flex: 0;
			flex: 0 0 auto;
			width: auto;
			max-width: 100%;
			opacity: 1;
			transform: translateY(0);
			padding: 0 5px;
			text-align: center;

			a {
				height: auto;
				width: 100%;
				padding: 5px 10px;
				border-radius: 15px;
			}

			.text {

				h3 {
					text-align: center;
					height: auto;
				}
			}
		}

		@media (max-width: 1024.98px) {
			&.fixed {
				top: 59px;
			}

			.news-item {
				padding: 0 5px;
				margin-top: 15px;
				-ms-flex: 0 0 100%;
				-webkit-box-flex: 0;
				flex: 0 0 50%;
				max-width: 50%;

				.img,
				.button-wrapper {
					clear: both;
					-ms-flex: 0 0 100%;
					-webkit-box-flex: 0;
					flex: 0 0 100%;
					max-width: 100%;
				}

				.text {
					padding-top: 10px;
					-ms-flex-preferred-size: 0;
					-ms-flex-positive: 1;
					-webkit-box-flex: 1;
					flex-basis: 0;
					flex-grow: 1;
					max-width: 100%;
				}

				.button-wrapper {
					margin-left: auto;
				}
			}
		}

		@media (max-width: 767.98px) {
			.news-item {

				a {
					height: 100%;
					width: 100%;
					font-size: 14px;
					padding: 0 10px;
					border-radius: 25px;
				}
			}
		}
	}

	.swiper-prev,
	.swiper-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		color: map-get($mau, main);
		border-radius: 5px;
		cursor: pointer;
		width: 20px;
	}

	.swiper-prev {
		left: 0;
		transform: rotate(180deg) translateY(50%);
	}

	.swiper-next {
		right: 0;
	}

	@media (max-width: 1024px) {
		padding: 30px 0;
		top: 60px;

		>.img {
			display: none;
		}

		.title-block {
			margin-bottom: 0;

			h2 {
				margin-bottom: 0;
			}

			.main-title {
				color: map-get($mau, main);
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 15px 0;
	}
}