.section.utilities.utilities-1
	.section-wrapper
		.img
			img.ofcv(src="./assets/villas/banner_1.jpg", alt="")
		.content
			h1 
				img(src="./assets/utilities/logo_aquacity.png", alt="")
			.text
				p 
					span đô thị 
					b sinh thái 
				p 
					b thông minh 
					span tại đồng nai