.section.utilities.utilities-2
	.container-fluid
		.title-block
			h2.main-title.center Tổng quan quy hoạch
			p Tọa lạc tại Đông Sài Gòn và nằm trong "vòng tay" của các con sông lớn tại Đồng Nai, đô thị sinh thái thông minh Aqua City có đủ điều kiện trở thành đô thị sinh thái chuẩn mực, là chốn an cư lý tưởng của cộng đồng cư dân tinh hoa.
		.overview-image-list.clearfix
			.overview-col
				.overview-item
					.img
						img.lazyload(data-src="./assets/utilities/u_1.jpg", alt="")
					.text
						h3
							b 70% 
							span DIỆN TÍCH DÀNH CHO MẢNH XANH VÀ TIỆN ÍCH CHUNG
							
						hr
						p Diện tích mảng xanh ngát xanh mang đến không gian thư giãn và bình yên cho cư dân tinh hoa
			.overview-col
				.overview-item
					.img
						img.lazyload(data-src="./assets/utilities/u_2.jpg", alt="")
					.text
						h3
							b 32KM 
							span ĐƯỜNG SÔNG
						hr
						p Nằm trong "vòng tay" của các con sông lớn, tạo nên một tổ hợp điều hòa khí hậu, đảm bảo không khí luôn trong lành, mát mẻ.
			.overview-col
				.overview-item
					.img
						img.lazyload(data-src="./assets/utilities/u_3.jpg", alt="")
					.text
						h3 
							b 10.000-12.000m2 
							br
							span vườn ươm cây
						hr
						p Cảnh quan xanh hiện hữu kiến hệ cân bằng nhiệt độ tự nhiên cho toàn khu đô thị sinh thái thông minh Aqua City