#sec-5.section.utilities.utilities-3
	.imgMapCanvas.desktop
		.map-canvas
			map#imageMap2(name='imageMap2')
				area(shape='circle', alt='1', title='Đường dạo ven sông', coords='1412,675,18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='1', title='Đường dạo ven sông', coords='1113,288,18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='1', title='Đường dạo ven sông', coords='405,560,18', href='./assets/utilities/1.jpg', target='')
				area(shape='circle', alt='2', title='Bến du thuyền', coords='1691,377,18', href='./assets/utilities/2.jpg', target='')
				area(shape='circle', alt='3', title='Công viên xanh', coords='514,252,18', href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title='Công viên xanh', coords='343,506,18', href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title='Công viên xanh', coords='578,446,18', href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title='Công viên xanh', coords='242,538,18', href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='3', title='Công viên xanh', coords='969,281,18', href='./assets/utilities/3.jpg', target='')
				area(shape='circle', alt='4', title='Vườn ươm cây', coords='1516,610,18', href='./assets/utilities/4.jpg', target='')
				area(shape='circle', alt='4', title='Vườn ươm cây', coords='1148,303,18', href='./assets/utilities/4.jpg', target='')
				area(shape='circle', alt='5', title='Bến thuyền Kayak', coords='1247,628,18', href='./assets/utilities/5.jpg', target='')
				area(shape='circle', alt='5', title='Bến thuyền Kayak', coords='1152,205,18', href='./assets/utilities/5.jpg', target='')
				area(shape='circle', alt='5', title='Bến thuyền Kayak', coords='600,203,18', href='./assets/utilities/5.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='1227,590,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='1211,191,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='862,364,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='382,471,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='443,303,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='6', title='Clubhouse & hồ bơi', coords='641,203,18', href='./assets/utilities/6.jpg', target='')
				area(shape='circle', alt='7', title='Aqua central mall', coords='1428,368,18', href='./assets/utilities/7.jpg', target='')
				area(shape='circle', alt='8', title='Game center', coords='1385,347,18', href='./assets/utilities/8.jpg', target='')
				area(shape='circle', alt='9', title='Khu vui chơi trẻ em', coords='1142,435,18', href='./assets/utilities/9.jpg', target='')
				area(shape='circle', alt='9', title='Khu vui chơi trẻ em', coords='1274,455,18', href='./assets/utilities/9.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='1239,231,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='1362,492,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='1095,466,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='797,251,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='775,420,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='10', title='Trường học các cấp', coords='387,368,18', href='./assets/utilities/10.jpg', target='')
				area(shape='circle', alt='11', title='Aqua sport complex', coords='1206,296,18', href='./assets/utilities/11.jpg', target='')
				area(shape='circle', alt='12', title='Phòng khám đa khoa quốc tế', coords='751,379,18', href='./assets/utilities/12.jpg', target='')
			canvas.background-added(width='1920', height='942', style='background-image: url("./assets/index/i_5.jpg");')
		.map-image
			img(src='./assets/index/i_5.jpg', usemap='#imageMap2')
	.content.mobile
		.container
			.utilities-list.row
				.col-12
					.img
						img(src='./assets/index/i_5.jpg', alt='')
				.col-6.col-sm-4
					a(href='./assets/utilities/1.jpg', data-fancybox='utilities_1')
						.img
							img(src='./assets/utilities/1.jpg', alt='')
						.text
							h3 Đường dạo ven sông
				.col-6.col-sm-4
					a(href='./assets/utilities/2.jpg', data-fancybox='utilities_2')
						.img
							img(src='./assets/utilities/2.jpg', alt='')
						.text
							h3 Bến du thuyền
				.col-6.col-sm-4
					a(href='./assets/utilities/3.jpg', data-fancybox='utilities_3')
						.img
							img(src='./assets/utilities/3.jpg', alt='')
						.text
							h3 Công viên xanh
				.col-6.col-sm-4
					a(href='./assets/utilities/4.jpg', data-fancybox='utilities_4')
						.img
							img(src='./assets/utilities/4.jpg', alt='')
						.text
							h3 Vườn ươm cây
				.col-6.col-sm-4
					a(href='./assets/utilities/5.jpg', data-fancybox='utilities_5')
						.img
							img(src='./assets/utilities/5.jpg', alt='')
						.text
							h3 Bến thuyền Kayak
				.col-6.col-sm-4
					a(href='./assets/utilities/6.jpg', data-fancybox='utilities_6')
						.img
							img(src='./assets/utilities/6.jpg', alt='')
						.text
							h3 Clubhouse & hồ bơi
				.col-6.col-sm-4
					a(href='./assets/utilities/7.jpg', data-fancybox='utilities_7')
						.img
							img(src='./assets/utilities/7.jpg', alt='')
						.text
							h3 Aqua central mall
				.col-6.col-sm-4
					a(href='./assets/utilities/8.jpg', data-fancybox='utilities_8')
						.img
							img(src='./assets/utilities/8.jpg', alt='')
						.text
							h3 Game center
				.col-6.col-sm-4
					a(href='./assets/utilities/9.jpg', data-fancybox='utilities_9')
						.img
							img(src='./assets/utilities/9.jpg', alt='')
						.text
							h3 Khu vui chơi trẻ em
				.col-6.col-sm-4
					a(href='./assets/utilities/10.jpg', data-fancybox='utilities_10')
						.img
							img(src='./assets/utilities/10.jpg', alt='')
						.text
							h3 Trường học các cấp
				.col-6.col-sm-4
					a(href='./assets/utilities/11.jpg', data-fancybox='utilities_11')
						.img
							img(src='./assets/utilities/11.jpg', alt='')
						.text
							h3 Aqua sport complex
				.col-6.col-sm-4
					a(href='./assets/utilities/12.jpg', data-fancybox='utilities_12')
						.img
							img(src='./assets/utilities/12.jpg', alt='')
						.text
							h3 Phòng khám đa khoa quốc tế
