.section.utilities.utilities-4
	h2.main-title.center Giá trị nổi bật của Aqua City
	.value-list.clearfix
		.col-value
			.item
				.img
					img(src="./assets/utilities/u_6.png", alt="")
				.text
					.number 3
					.description
						span VỊ TRÍ VÀNG
						SPAN KẾT NỐI LIÊN VÙNG
		.col-value
			.item
				.img
					img(src="./assets/utilities/u_4.jpg", alt="")
				.text
					.number 1
					.description
						span  ĐẮC ĐỊA VỀ VỊ TRÍ 
						SPAN ĐẮT GIÁ VỀ TẦM NHÌN
		.col-value
			.item
				.img
					img(src="./assets/utilities/u_5.jpg", alt="")
				.text
					.number 2
					.description
						span MẢNG XANH 
						SPAN NGẬP TRÀN