.section.utilities.utilities-5
	.utilities-list.clearfix
		.col-utilities
			.item
				.img
					img(src="./assets/utilities/u_7.jpg", alt="")
				.text
					.number 4
					.description
						span TIỆN ÍCH THÔNG MINH 
						span HOÀN HẢO
		.col-utilities
			.item
				.img
					img(src="./assets/utilities/u_8.jpg", alt="")
				.text
					.number 5
					.description
						span TOÀN DIỆN CÔNG NĂNG
						span AN CƯ, THƯƠNG MẠI