.section.utilities.utilities-5
	.utilities-list.clearfix
		.col-utilities
			.item
				.img
					img(src="./assets/utilities/u_9.jpg", alt="")
				.text
					.number 6
					.description
						span THIẾT KẾ ĐỘC TÔN,
						span XỨNG TẦM THƯỢNG LƯU
		.col-utilities
			.item
				.img
					img(src="./assets/utilities/u_10.jpg", alt="")
				.text
					.number 7
					.description
						span ĐA DẠNG SẢN PHẨM
						span PHÙ HỢP NHU CẦU