.elite-1
	.content
		.img
			img(src="./assets/elite/e_1.jpg", alt="")
		.text
			h2 The Elite
			h3 Đắc đị về vị trí, đắt giá về tầm nhìn
			p Aqua City, với quy mô hơn 600 ha, hướng tới kiến tạo một chuẩn mực sống mới, nơi cư dân được đắm mình trong không gian sống xanh chất lượng và tận huởng trọn vẹn từng phút giây hạnh phúc mỗi ngày.
			h3 Prime location with great connectivity for a satellite city
			p Aqua City with a scale of more than 600 ha, is raising a higher living standard where every resident can mingle in massive greenery and nature daily, enjoying every moment with each family member.