.elite-2
	.container
		.row
			.col-lg.text
				.elite-title
					h2 Tâm điểm kết nối
						br
						| Gia thông liên vững
					p Prime Location & Great Connectivity
				ul.list
					li
						.time 
							h3 5
							p Phút | Min
						.info
							p Bến du thuyền | Aqua Marina
							p Sân Golf Long Thành | Long Thành Golf Course
							p Khu vui chơi giải trí Sơn Tiên | Son Tien entertainment
					li
						.time 
							h3 10
							p Phút | Min
						.info
							p Bệnh viện Shing Mark | Shing Mark hospital
							p Khu công nghệ cao | High Tech areas
					li
						.time 
							h3 15
							p Phút | Min
						.info
							p Bến du thuyền | Aqua Marina
							p Sân Golf Long Thành | Long Thành Golf Course
							p Khu vui chơi giải trí Sơn Tiên | Son Tien entertainment
					li
						.time 
							h3 20
							p Phút | Min
						.info
							p Bến du thuyền | Aqua Marina
							p Sân Golf Long Thành | Long Thành Golf Course
							p Khu vui chơi giải trí Sơn Tiên | Son Tien entertainment
			.col-lg-auto
				.img
					img(src="./assets/elite/e_2.png", alt="")