.elite-2
	.container
		.row
			.col-lg.text
				.elite-title
					h2.wow.fadeInLeft(data-wow-delay="0.1s") Tâm điểm kết nối
						br
						| Gia thông liên vững
					p.wow.fadeInLeft(data-wow-delay="0.2s") Prime Location & Great Connectivity
				ul.list
					li.wow.fadeInUp(data-wow-delay="0.2s")
						.time 
							h3 5
							p Phút | Min
						.info
							p Bến du thuyền | Aqua Marina
							p Sân Golf Long Thành | Long Thành Golf Course
							p Khu vui chơi giải trí Sơn Tiên | Son Tien entertainment
					li.wow.fadeInUp(data-wow-delay="0.3s")
						.time 
							h3 10
							p Phút | Min
						.info
							p Bệnh viện Shing Mark | Shing Mark hospital
							p Khu công nghệ cao | High Tech areas
					li.wow.fadeInUp(data-wow-delay="0.2s")
						.time 
							h3 15
							p Phút | Min
						.info
							p Trung tâm tài chính Thủ Thiêm | Thu Thiem Financial district
							p Big C - Aeon Mall - Lotte Mart - Nguyễn Kim 
					li.wow.fadeInUp(data-wow-delay="0.2s")
						.time 
							h3 20
							p Phút | Min
						.info
							p Sân bay Quốc tế Long Thành
							p Long Thanh International Airport
			.col-lg-auto
				.img.wow.fadeInRight(data-wow-delay="0.2s")
					img(src="./assets/elite/e_2.png", alt="")