.elite-4
	.container
		.content
			.block-top
				.row
					.col-lg
						.text
							.elite-title
								h2.wow.fadeInLeft(data-wow-delay="0.1s") sành điệu
								h5.wow.fadeInLeft(data-wow-delay="0.2s") 
									| một cánh cửa mở ra cả
									br
									b thế giới tiện ích
									br
									| ngay trước thềm nhà
							.list-item
								ul
									li.wow.fadeInLeft(data-wow-delay="0.3s")
										p Aqua Sport Complex quy mô 2.2 ha
											br
											| Aqua Sport Complex with a scale of 2.2ha
										ul
											li
												p Bảo tàng xe hơi | Car museum
											li
												p Hồ bơi trong nhà và ngoài trời
													br
													| Indoor & outdoor swimming pools
											li
												p Các môn thể thao trong nhà và ngoài trời
													br
													| Indoor & outdoor sports
									li.wow.fadeInLeft(data-wow-delay="0.3s") Kayak trên sông | Kayak
									li.wow.fadeInLeft(data-wow-delay="0.3s") Đường dạo bộ | Walking path
									li.wow.fadeInLeft(data-wow-delay="0.3s") Công viên chủ đề | Spacious Parks
					.col-lg-auto
						.img.wow.fadeInUp(data-wow-delay="0.1s")
							img(src="./assets/elite/section-4/item-1.png", alt="", srcset="")
						.img.wow.fadeInUp(data-wow-delay="0.25s")
							img(src="./assets/elite/section-4/item-2.png", alt="", srcset="")
			.block-bottom
				.img-big.wow.fadeInLeft(data-wow-delay="0.2s")
					img(src="./assets/elite/section-4/item-3.jpg", alt="")
					.title
						p
							b Bến Kayak ngay trước thềm nhà
							br
							i Big scale of kayak area in front of the houses
				.img-small.wow.fadeInRight(data-wow-delay="0.3s")
					img(src="./assets/elite/section-4/item-4.jpg", alt="")
				.elite-title.wow.fadeInRight(data-wow-delay="0.4s")
					h2 TRENDSETTER
					p ONE STEP TO THOUSANDS OF 
						br
						| FACILITIES AND AMENITIES