.elite-4
	.content
		.row
			.col-lg-6
				.block-title
					h2 Thượng lưu
					h3 Một bước chạm tới
						br
						| chuẩn sống mới
				.description
					ul
						li Sân Gold 36 lỗ chuyên nghiệp | 36 Hole Golf Course
						li Bến du thuyền 5 sao | 5 Star marina
						li Clubhouse bên sông | Riverside clubhouse
						li Phố mua sắm sầm uất | Dynamic shopping streets
						li Hệ thống nhà hàng cao cấp | A range of luxurious
			.col-lg-6
				.img
					img(src="./assets/elite/e_5.png", alt="")
			.col-lg-12