.elite-4
	.block-top
		.box-left
			figure
				figcaption
					h2 sành điệu
					h5 một cánh cửa mở ra cả
						br
						| thế giới tiện ích
						br
						| ngay trước thềm nhà
					ul.list-item
						li.item
							p Aqua Sport Complex quy mô 2.2 ha Aqua Sport Complex
							p Aqua Sport Complex with a scale of 2.2ha
							ul.list-child
								li.item-child
									p Bảng tàng xe hơi | Car museum
								li.item-child
									p Hồ bơi trong nhà và ngoài trời
									p Indoor & outdoor swimming pools
								li.item-child
									p Các môn thể thao trong nhà và ngoài trời
									p Indoor & outdoor sports
						li.item Kayak trên sông | Kayak
						li.item Đường dạo bộ | Wallking path
						li.item Công viên chủ đề | Spacious Parks
				.img
					img(src="./assets/elite/section-4/item-1.png", alt="", srcset="")
		.box-right
			.img
				img(src="./assets/elite/section-4/item-2.png", alt="", srcset="")
