.elite-4
	.container
		.content
			.block-top
				.row
					.col-lg
						.text
							.elite-title
								h2 sành điệu
								h5 một cánh cửa mở ra cả
									br
									| thế giới tiện ích
									br
									| ngay trước thềm nhà
							.list-item
								ul
									li
										p Aqua Sport Complex quy mô 2.2 ha Aqua Sport Complex | Aqua Sport Complex with a scale of 2.2ha
										ul
											li
												p Bảng tàng xe hơi | Car museum
											li
												p Hồ bơi trong nhà và ngoài trời | Indoor & outdoor swimming pools
											li
												p Các môn thể thao trong nhà và ngoài trời | Indoor & outdoor sports
									li Kayak trên sông | Kayak
									li Đường dạo bộ | Wallking path
									li Công viên chủ đề | Spacious Parks
					.col-lg-auto
						.img
							img(src="./assets/elite/section-4/item-1.png", alt="", srcset="")
						.img
							img(src="./assets/elite/section-4/item-2.png", alt="", srcset="")
			.block-bottom
				.img-big
					img(src="./assets/elite/section-4/item-3.jpg", alt="")
				.img-small
					img(src="./assets/elite/section-4/item-4.jpg", alt="")
				.elite-title
					h2 TRENDSETTER
					p ONE STEP TO THOUSANDS OF 
						br
						| FACILITIES AND AMENITIES