.elite-5
	.container
		.content
			.row.top
				.col-lg-6.block-top-left
					.row.no-gutters
						.elite-title.col-lg-6
							h2 Thượng lưu
							p MỘT BƯỚC CHẠM TỚI
								br
								| CHUẨN SỐNG MỚI
						.elite-text.col-lg-6
							ul
								li Sân Golf 36 lỗ chuyện nghiệp | 36 Hole Golf course
								li Bến du thuyền 5 sao | 5 Star marina
								li Clubhouse bên sông | Riverside clubbhouse
								li Phố mua sắm xầm uất | Dynamic shopping streets
								li Hệ thống nhà hàng cao cấp | A range of luxurious restaurant
					.img
						img(src="./assets/elite/e_5.png", alt="")
				.col-lg-6.block-top-right
					.img
						img(src="./assets/elite/e_6.png", alt="")
					.elite-title
						h2 FIRST CLASS
						p RAISING ANOTHER 
							br
							| LIVING STANDARD
			.row.left
				.col-md-8.block-bottom-left
					.img
						img(src="./assets/elite/e_7.jpg", alt="")
					.title
						p Bến du thuyền 5 sao | Aqua marina 5 star
				.col-md-4.block-bottom-right
					.img
						img(src="./assets/elite/e_8.jpg", alt="")
					.title
						p Nhà phố | Townhouse