.elite-6
	.container
		.content
			.row.top
				.col-lg-6
					.row.no-gutters.top-left
						.col-md-5.elite-title.wow.fadeInDown(data-wow-delay="0.2s")
							h2 THÔNG MINH
							p MỘT CHẠM MỞ RA
								br
								| NGÀN TRẢI NGHIỆM
						.col-md-7.elite-text.wow.fadeInDown(data-wow-delay="0.3s")
							ul
								li
									b 24/7 
									| cùng Apps vận hành cuộc sống
								li
									b 100% 
									| nước tinh khiết tại vòi khu vực công cộng
								li Năng lượng sạch áp dụng  toàn khu
								li Hệ thống camera toàn đô thị
						.img.wow.fadeInUp(data-wow-delay="0.3s")
							img(src="./assets/elite/e_9.jpg", alt="")
					.row.bottom-left
						.col-md-7.img.wow.fadeInUp(data-wow-delay="0.3s")
							img(src="./assets/elite/e_10.jpg", alt="")
						.col-md-5
							.elite-title.wow.fadeInLeft(data-wow-delay="0.3s")
								h2 SMART CITY
								p A NEW WAY OF
									br
									| EXPERIENCING LIFE
							.elite-text.wow.fadeInUp(data-wow-delay="0.5s")
								ul
									li
										b
											i 24/7 
										i with your apps
									li
										b
											i 100% 
										i fresh water at public area
									li 
										i Green energy 
									li 
										i Camera system in the city
				.col-lg-6
					.block-bottom-left.wow.fadeInDown(data-wow-delay="0.3s")
						.img
							img(src="./assets/elite/e_11.jpg", alt="")
						.title
							p 
								b Nhà phố phong cách Địa Trung hải
								br
								i Mediterranean Townhouse
					.block-bottom-right
						.text
							h2.wow.fadeInUp(data-wow-delay="0.2s") Lựa chọn xứng tầm
							h3.wow.fadeInUp(data-wow-delay="0.3s") A VIBRANT LIFESTYLE
							p.wow.fadeInUp(data-wow-delay="0.4s") Với đường nét thiết kế hiện đại đậm chất Âu - Mỹ và Địa Trung Hải cùng sự trau chuốt trong từng chi tiết của các Kiến trúc sư, The Elite thỏa mãn thị hiếu thẩm mỹ của những khách hàng khó tính nhất đồng thời đem đến những lựa chọn sản phẩm đa dạng.
							p.wow.fadeInUp(data-wow-delay="0.5s")
								i With deep influence from European - American & Mediterranean architecture, every detail of the Elite is taken care beautifully both function and facade design. You can choose either a shophouse, townhouse, semidetached or villa here.