.elite-6
	.container
		.content
			.row.top
				.col-lg-6
					.row.no-gutters.top-left
						.col-md-6.elite-title
							h2 THÔNG MINH
							p MỘT BƯỚC CHẠM TỚI
								br
								| CHUẨN SỐNG MỚI
						.col-md-6.elite-text
							ul
								li
									b 24/7 
									| cùng App vận hành cuộc sống
								li
									b 100% 
									| nước tinh khiết tại vòi khu vực công cộng
								li Năng lượng sạch áp dụng  toàn khu
								li Hệ thống camera toàn đô thị
						.img
							img(src="./assets/elite/e_9.jpg", alt="")
					.row.bottom-left
						.col-md-7.img
							img(src="./assets/elite/e_10.jpg", alt="")
						.col-md-5
							.elite-title
								h2 SMART CITY
								p MỘT BƯỚC CHẠM TỚI
									br
									| CHUẨN SỐNG MỚI
							.elite-text
								ul
									li
										b 24/7 
										| with your app
									li
										b 100% 
										| fresh water at public area
									li Green energy 
									li Camera system in the city
				.col-lg-6
					.block-bottom-left
						.img
							img(src="./assets/elite/e_11.jpg", alt="")
						.title
							p 
								b Nhà phố phong cách Địa Trung hải
								br
								i Mediterranean Townhouse
					.block-bottom-right
						.text
							h2 Lựa chọn xứng tầm
							h3 A VIBRANT LIFESTYLE
							p Với đường nét thiết kế hiện đại đậm nét Âu - Mỹ và Địa Trung Hải cùng sự trau chuốt trong từng chi tiết của các Kiến trúc sư, The Elite thỏa mãn thị hiếu thẩm mỹ của những khách hàng khó tính nhất đồng thời đem đến những lựa chọn sản phẩm đa dạng.
							p
								i With deep influence from European - American & Mediterranean architecture, every detail of the Elite is taken care beautifully both function and facade design. You can choose either a shophouse, townhouse, semidetached or villa here.