.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/1.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/2.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/3.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/4.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/5.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/6.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/7.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/8.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/9.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/10.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/11.png", alt="")
			.col-lg-6.wow.fadeInRight
				img(src="./assets/elite/projects/12.png", alt="")
.elite-7
	.container
		.row
			.col-lg-6.wow.fadeInLeft
				img(src="./assets/elite/projects/13.png", alt="")