#sec-2 {
	background-image: linear-gradient(-150deg, #e8de8b, #07414c);
	background-size: 300%;

	.imgMapCanvas {
		width: 100%;
	}

	@media (max-width: 1024px) {
		padding: 20px 10px 0;

		.content {
			background: map-get($mau, main);
			padding: 15px 10px;

			.text {
				h2 {
					color: white;
					font-size: 20px;
					font-weight: 400;
				}

				.btn-discover {
					margin-top: 10px;
					padding: 5px 15px;
				}
			}
		}
	}

	@media (min-width: 1025px) {
		align-items: center;
		display: flex;

		.cloud {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1000;
			opacity: 0;
			transform: translateY(100%);
			height: 275px;
			pointer-events: none;
			display: flex;
			align-items: flex-end;
		}

		.content {
			position: absolute;
			z-index: 1001;
			bottom: 0;
			left: 0;
			width: 100%;

			.container {
				h2 {
					font-size: 30px;
					text-transform: uppercase;
					margin-bottom: 15px;
					color: map-get($mau, main);
				}
			}

			.text {
				width: 100%;
				position: absolute;
				bottom: 50px;
				left: 80px;
				z-index: 6;

				h2 {
					opacity: 0;
					font-weight: 400;
					transform: translateY(100%);
				}

				.btn-discover {
					opacity: 0;
					height: 45px;
					padding: 0 40px;
					transform: translateY(100%);
				}

				@media (max-width: 1439px) {
					bottom: 40px;
				}
			}
		}

		&.active {
			.cloud {
				transform: translateY(0);
				transition: all .5s linear;
				opacity: .75;
			}

			.text {

				h2 {
					transform: translateY(0);
					transition: all .4s linear;
					transition-delay: .4s;
					opacity: 1;
				}

				.btn-discover {
					transform: translateY(0);
					transition-duration: .4s;
					transition-timing-function: linear;
					transition-property: transform, opacity;
					transition-delay: .6s, .6s;
					opacity: 1;
				}
			}
		}
	}
}