#sec-5 {
	background-image: linear-gradient(-150deg, #e8de8b, #07414c);
	background-size: 300%;

	.title-block {
		h2 {
			text-transform: uppercase;
			color: map-get($mau, main);
			padding: 0 10px;
		}
	}

	.utilities-list {
		padding: 10px 0;
		background: white;

		a {
			display: flex;
			flex-wrap: wrap;
			border-radius: 5px;
			height: 100%;

			.text {
				flex: 0 0 100%;
				max-width: 100%;

				h3 {
					font-weight: 500;
					color: map-get($mau, main);
					font-size: 13px;

					@media (min-width: 1440px) {
						font-size: 15px;
					}
				}

				&.active {
					h3 {
						color: map-get($mau, main-2)
					}
				}
			}
		}

		.col-12 {
			.img {
				box-shadow: 0 0 12px rgba(black, .15);
				border-radius: 5px;
				overflow: hidden;
			}
		}
	}

	@media (max-width: 1024px) {
		.title-block {
			padding-top: 40px;
			padding-bottom: 5px;
			text-align: center;

			h2 {
				color: map-get($mau, main);
			}
		}

		.utilities-title {
			background: white;
		}

		.utilities-list {
			padding-top: 10px;

			.col-6.col-sm-4 {
				margin-top: 10px;
			}

			a {
				padding: 5px;
				box-shadow: 0 0 5px rgba(map-get($mau, main), .5);
			}
		}

		.btn-wrapper {
			text-align: center;

			.btn-discover {
				padding: 5px 10px;
			}
		}
	}

	@media (min-width: 1025px) {
		align-items: center;
		display: flex;

		.utilities-title {
			margin-left: 120px;
		}

		.utilities-list {
			display: inline-block;
			padding: 10px;
			width: 50%;
		}

		.title-block {
			background: white;
			padding-top: 10px;
			width: 50%;

			h2 {
				pointer-events: none;
			}
		}

		.btn-wrapper {
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: 10px;

			.btn-discover {
				padding: 0 40px;
				height: 45px;
			}
		}

		.content {
			position: absolute;
			z-index: 1001;
			bottom: 15px;
			left: 0;
			width: 100%;
		}

		&.active {
			.title-block {

				h2 {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

	@media (min-width: 1610px) {
		.title-block {
			bottom: 110px;
			left: 135px;
		}

		.content {
			bottom: 30px;
		}
	}
}