#sec-5 {
	background-image: linear-gradient(-150deg, #e8de8b, #07414c);
	background-size: 300%;

	.swiper-container,
	.swiper-wrapper {
		height: 100%;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
	}

	.swiper-prev,
	.swiper-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		color: map-get($mau, main);
		border-radius: 5px;
		cursor: pointer;

		&.swiper-button-disabled {
			display: none;
		}
	}

	.swiper-prev {
		left: 100px;
		transform: rotate(180deg) translateY(50%);
	}

	.swiper-next {
		right: 100px;
	}

	.title-block {
		padding: 0 5px;

		h2 {
			text-transform: uppercase;
			color: map-get($mau, main);
		}
	}

	.utilities-list {
		padding: 10px 0;
		background: white;

		.text {
			flex: 0 0 100%;
			max-width: 100%;
			cursor: pointer;

			h3 {
				font-weight: 400;
				padding-top: 10px;
				color: map-get($mau, main);
				font-size: 12px;

				@media (min-width: 1025px) {
					color: white;
					padding-top: 0;
				}

				@media (min-width: 1440px) {
					font-size: 15px;
				}
			}

			&.active {
				h3 {
					color: rgb(233, 226, 138);
				}
			}
		}

		.col-12 {
			.img {
				box-shadow: 0 0 12px rgba(black, .15);
				border-radius: 5px;
				overflow: hidden;
			}
		}
	}

	@media (max-width: 1024px) {
		.title-block {
			padding-top: 40px;
			padding-bottom: 5px;
			text-align: center;

			h2 {
				color: map-get($mau, main);
			}
		}

		.utilities-title {
			background: white;
		}

		.utilities-list {
			padding-top: 10px;

			.col-6.col-sm-4 {
				margin-top: 10px;
			}

			a {
				padding: 5px;
				box-shadow: 0 0 5px rgba(map-get($mau, main), .5);
			}
		}

		.btn-wrapper {
			text-align: center;

			.btn-discover {
				padding: 5px 10px;
			}
		}
	}

	@media (min-width: 1025px) {
		align-items: flex-end;
		display: flex;

		.swiper-next,
		.swiper-prev {
			img {
				max-height: 80px;
			}
		}

		.utilities-list {
			display: inline-block;
			padding: 5px;
			width: 100%;
			background-color: rgba(map-get($mau, main), .65);

			.row {
				margin: 0 -5px;
			}

			.col-6 {
				padding: 0 5px;
			}
		}

		.title-block {
			background-color: rgba(map-get($mau, main), .75);
			width: 100%;

			h2 {
				pointer-events: none;
				color: white;
			}
		}

		.btn-wrapper {
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: 10px;

			.btn-discover {
				padding: 0 40px;
				height: 45px;
			}
		}

		.swiper-slide {
			.content {
				position: absolute;
				z-index: 1001;
				width: 30%;
			}
		}

		.slide-2 {
			.content {
				top: 70px;
				left: 0;
			}
		}

		.slide-1 {
			.content {
				bottom: 40px;
				left: 90px;
			}
		}

		&.active {
			.title-block {

				h2 {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

	@media (min-width: 1610px) {
		.title-block {
			bottom: 110px;
			left: 135px;
		}

		.content {
			top: 100px;
		}
	}

	@media (min-width: 1200px) {
		align-items: center;
	}
}