

#sec-6 {
	background: white;

	.row {
		align-items: flex-end;
		height: 100%;

		@media (min-width: 1025px) {
			.col-sm-6 {
				height: 100%;

				&:nth-child(1) {
					padding-right: 25px;
					transform: translateX(-20px);
					opacity: 0;
					transition: all .5s linear;

					.item {
						.content {
							align-items: flex-start;
							border-left: 3px solid map-get($mau, main-2);
						}

						.description-box {
							background: linear-gradient(90deg, rgba(7, 65, 76, 1) 0%, rgba(7, 65, 76, 1) 45%, rgba(7, 65, 76, 0.7) 60%, rgba(7, 65, 76, 0) 75%);
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07414c", endColorstr="#07414c", GradientType=1);
						}
					}
				}

				&:nth-child(2) {
					padding-left: 25px;
					transform: translateX(20px);
					opacity: 0;
					transition: all .5s linear;

					.item {
						text-align: right;

						.content {
							align-items: flex-end;
							border-right: 3px solid map-get($mau, main-2);
						}

						.description-box {
							background: linear-gradient(270deg, rgba(7, 65, 76, 1) 0%, rgba(7, 65, 76, 1) 35%, rgba(7, 65, 76, 0.7) 50%, rgba(7, 65, 76, 0) 65%);
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07414c", endColorstr="#07414c", GradientType=1);
						}
					}
				}
			}
		}
	}

	.item {
		position: relative;
		height: 100%;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.56);

		.img {
			background: black;
			height: 100%;

			img {
				opacity: .9;
			}
		}

		.content {
			position: absolute;
			border-top: 3px solid map-get($mau, main-2);
			border-bottom: 3px solid map-get($mau, main-2);
			bottom: 45px;
			top: 45px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			left: 25px;
			right: 25px;

			h2 {
				text-transform: uppercase;
				line-height: 1.1;
				color: #ffffff;
				font-weight: 500;
				margin-bottom: 10px;

				@media (min-width: 1025px) {
					font-size: 50px;
				}

				@media (min-width: 1660px) {
					font-size: 80px;
				}
			}

			.description-box {
				margin-bottom: 10px;
				width: 100%;

				@media (min-width: 1025px) {
					padding: 10px 25px;
				}

				@media (min-width: 1660px) {
					padding: 15px 40px;

				}

				p {
					text-transform: uppercase;
					color: #ffffff;

					@media (min-width: 1025px) {
						font-size: 26px;
					}

					@media (min-width: 1660px) {
						font-size: 32px;
					}
				}
			}

			.btn-discover {
				@media (min-width: 1025px) {
					padding: 0 20px;
					height: 40px;
				}

				@media (min-width: 1660px) {
					padding: 0 35px;
					height: 50px;
				}
			}

			@media (min-width: 1025px) {
				padding: 0 65px 50px 65px;
			}

			@media (min-width: 1660px) {
				padding: 0 110px 90px 110px;
			}
		}
	}

	@media (min-width: 1025px) {
		padding-top: 105px;

		&.active {
			.col-sm-6 {

				&:nth-child(1),
				&:nth-child(2) {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

	@media (min-width: 1660px) {
		padding-top: 130px;
	}

	@media (max-width: 1024px) {
		padding: 30px 0;

		.row.no-gutters {

			.col-sm-6 {

				&:nth-child(1),
				&:nth-child(2) {
					padding-right: 10px;
					padding-left: 10px;
				}

				+.col-sm-6 {
					margin-top: 20px;
				}
			}
		}

		.item {
			.content {
				position: static;
				top: unset;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 15px;
				border: 0;
				background: map-get($mau, main);

				h2 {
					font-size: 20px;

					br {
						display: none;
					}
				}

				.description-box {
					p {
						font-size: 16px;
					}
				}

				.btn-discover {
					height: 30px;
				}
			}
		}
	}
}