#sec-6 {
	background: white;
	display: flex;
	align-items: center;

	.area-content {
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		padding: 0 35px;

		@media (min-width: 1025px) {
			padding: 35px;
		}

		.swiper-prev,
		.swiper-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;
			color: map-get($mau, main);
			border-radius: 5px;
			cursor: pointer;
		}

		.swiper-prev {
			left: 0;
			transform: rotate(180deg) translateY(50%);
		}

		.swiper-next {
			right: 0;
		}

		.swiper-next,
		.swiper-prev {
			img {
				max-height: 55px;
			}
		}

		.swiper-slide {
			opacity: .3;
			transition: all .2s ease-in-out;

			&.swiper-slide-active {
				opacity: 1;
			}
		}

		@media (min-width: 1025px) {
			max-width: 1050px;
			padding: 0 30px;

			.swiper-prev {
				left: -60px;
			}

			.swiper-next {
				right: -60px;
			}

			.swiper-next,
			.swiper-prev {
				img {
					max-height: 80px;
				}
			}
		}

		@media (min-width: 1610px) {
			max-width: 1360px;

			.swiper-next,
			.swiper-prev {
				img {
					max-height: 110px;
				}
			}
		}
	}

	.item {
		position: relative;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.56);
		display: block;

		.img {
			background: black;

			img {
				opacity: .9;
			}
		}

		.content {
			position: absolute;
			border-top: 3px solid map-get($mau, main-2);
			border-bottom: 3px solid map-get($mau, main-2);
			bottom: 10px;
			top: 10px;
			left: 10px;
			right: 10px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			h2 {
				text-transform: uppercase;
				line-height: 1.1;
				color: #ffffff;
				font-weight: 700;

				img {
					max-height: 50px;
				}

				@media (min-width: 1025px) {
					font-size: 32px;
				}

				@media (min-width: 1460px) {
					font-size: 38px;

					img {
						max-height: 55px;
					}
				}

				@media (min-width: 1610px) {
					font-size: 44px;

					img {
						max-height: 62px;
					}
				}
			}

			.description-box {
				margin-bottom: 10px;
				width: 100%;
				// background: linear-gradient(90deg, rgba(7, 65, 76, 1) 0%, rgba(7, 65, 76, 1) 45%, rgba(7, 65, 76, 0.7) 60%, rgba(7, 65, 76, 0) 75%);
				// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07414c", endColorstr="#07414c", GradientType=1);
				background-color: #07414c;

				.row {
					align-items: center;
					justify-content: center;

					.col-sm-12 {
						text-align: center;
					}

					@media (min-width: 576px) {
						.col-sm {
							padding: 0 25px;

							+.col-sm {
								border-left: 1px solid white;
							}

							&:nth-child(odd) {
								text-align: right;
							}

							&:nth-child(even) {
								text-align: left;
							}
						}
					}
				}

				@media (min-width: 1025px) {
					padding: 5px 10px;
				}

				p {
					text-transform: uppercase;
					color: #ffffff;

					@media (min-width: 1025px) {
						font-size: 18px;
					}

					@media (min-width: 1610px) {
						font-size: 23px;
					}
				}
			}

			.btn-discover {
				@media (min-width: 1025px) {
					padding: 0 20px;
					height: 40px;
				}

				@media (min-width: 1610px) {
					padding: 0 35px;
					height: 50px;
				}
			}

			@media (min-width: 1025px) {
				padding: 10px;
			}

			@media (min-width: 1610px) {
				padding: 15px;
			}
		}
	}

	@media (min-width: 1025px) {
		padding-top: 100px;
		padding-bottom: 100px;

		&.active {
			.col-sm-6 {

				&:nth-child(odd),
				&:nth-child(even) {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

	@media (min-width: 1610px) {
		padding-top: 130px;
		padding-bottom: 130px;
	}

	@media (max-width: 1024px) {
		padding: 30px 0;

		.row.no-gutters {

			.col-sm-6 {

				&:nth-child(odd),
				&:nth-child(even) {
					padding-right: 10px;
					padding-left: 10px;
				}

				+.col-sm-6 {
					margin-top: 20px;
				}
			}
		}

		.item {
			.content {
				position: static;
				top: unset;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 15px;
				border: 0;
				background: map-get($mau, main);

				h2 {
					font-size: 38px;

					img {
						max-height: 45px;
					}

					br {
						display: none;
					}
				}

				.description-box {
					p {
						font-size: 16px;
					}
				}

				.btn-discover {
					height: 30px;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.item {
			.content {
				h2 {
					font-size: 26px;

					img {
						max-height: 30px;
					}
				}
			}
		}
	}
}