#sec-7 {
	background: #ffffff;
	display: flex;
	align-items: center;

	.title-block {
		display: flex;
		justify-content: center;

		@media (min-width: 1025px) {
			h2 {
				padding: 0 30px;
				margin-top: -38px;
				background-color: white;
				display: inline-flex;
				transition: all .5s linear;
				opacity: 0;
				transform: translateY(20px);

			}
		}
	}

	.content {
		width: 100%;
		position: relative;

		&:before {
			content: '';
			background-image: url('../assets/index/i_7_bg.png');
			background-position: top;
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: -100px;
			left: -100px;
			right: -100px;
			bottom: -100px;
		}

		@media (min-width: 1025px) {
			border: 5px solid map-get($mau, main-2);
			margin: 0 auto;
			padding-bottom: 50px;
			position: relative;
			max-width: 940px;
			padding: 0 140px 25px 140px;
		}

		@media (min-width: 1660px) {
			max-width: 1400px;
			padding: 0 160px 35px 160px;
		}
	}

	.video-block {
		text-align: center;

		a {
			display: inline-block;
			position: relative;
			overflow: hidden;
			width: 650px;

			>img {
				transition: all .3s ease-in-out;
				width: 100%;
			}

			.icon-play {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				img {
					max-width: 50px;
				}

				@media (min-width: 1025px) {
					img {
						max-width: 70px;
					}
				}

				@media (min-width: 1660px) {
					img {
						max-width: 150px;
					}
				}

			}

			&:hover {
				>img {
					transform: scale(1.1);
				}
			}
		}

		@media (min-width: 1025px) {
			transition: all .5s linear;
			opacity: 0;
			transform: translateY(20px);
		}

		@media (min-width: 1660px) {
			a {
				width: 1070px;
			}
		}
	}

	.video-items {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0 40px;
		display: flex;
		justify-content: center;
		z-index: 10;

		.item {

			a {
				display: block;
				background: #faf8ef;
			}

			.img {
				img {
					width: 100%;
				}
			}

			.text {
				padding: 10px 15px;

				h3 {
					font-size: 20px;
				}
			}

			@media (min-width: 1025px) {
				transition: all .5s linear;
				opacity: 0;
				transform: translateY(25px);
				padding: 20px;

				&:nth-child(odd) {
					transition-delay: .2s;
				}

				&:nth-child(even) {
					transition-delay: .35s;
				}
			}
		}
	}

	.swiper-prev,
	.swiper-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		color: map-get($mau, main);
		border-radius: 5px;
		cursor: pointer;
	}

	.swiper-prev {
		left: 0;
		transform: rotate(180deg) translateY(50%);
	}

	.swiper-next {
		right: 0;
	}

	@media (min-width: 1025px) {
		padding: 100px 25px 50px;

		.video-items {
			margin-bottom: -90px;
			width: 800px;
			left: 50%;
			transform: translateX(-50%);

			.item {
				padding: 10px;

				a {
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
				}
			}
		}

		.swiper-next,
		.swiper-prev {
			img {
				max-height: 80px;
			}
		}

		&.active {
			.title-block {
				h2 {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.video-block {
				opacity: 1;
				transform: translateY(0);
			}


			.video-items {
				.item {
					height: 100%;

					a {
						height: 100%;
					}

					&:nth-child(odd),
					&:nth-child(even) {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
	}

	@media (min-width: 1660px) {
		padding: 110px 25px 50px;

		.video-items {
			margin-bottom: -60px;
			width: 1180px;

			.item {
				padding: 25px;

				a {
					box-shadow: 0 0 25px rgba(0, 0, 0, 0.66);
				}
			}
		}

		.swiper-next,
		.swiper-prev {
			img {
				max-height: 110px;
			}
		}
	}

	@media (max-width: 1024px) {

		.title-block {
			.main-title {
				margin-bottom: 0;
			}
		}

		.video-block {
			display: none;
			background: black;

			a {
				opacity: .85;
			}
		}

		.video-items {
			position: relative;
			flex-wrap: wrap;
			padding: 10px 30px;

			.swiper-slide {
				background: #faf8ef;
			}

			.item {
				flex: 0 0 100%;
				max-width: 100%;

				.text {
					h3 {
						font-size: 16px;
					}
				}

				+.item {
					margin-top: 20px;
				}
			}
		}

		.swiper-next,
		.swiper-prev {
			img {
				max-height: 55px;
			}
		}
	}

	@media (max-width: 576px) {
		.video-items {
			.item {
				a {
					display: block;

					.img {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}