
#sec-8 {
	>.img {
		height: 100%;
	}

	.title-block {
		margin-bottom: 30px;

		.main-title {
			color: white;

			@media (min-width: 1025px) {
				font-size: 50px;
				transition: all .5s linear;
				opacity: 0;
				transform: translateY(20px);
			}

			@media (min-width: 1660px) {
				font-size: 70px;
			}
		}
	}

	.content {
		@media (min-width: 1025px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 110px 20px 30px;
		}

		@media (min-width: 1660px) {
			padding: 150px 25px 50px;
		}
	}

	.news-items {
		display: flex;
		justify-content: center;

		.item {
			@media (min-width: 1025px) {
				flex: 0 0 275px;
				max-width: 275px;
				margin: 0 10px;
				transition: all .5s linear;
				opacity: 0;
				transform: translateY(20px);

				&:nth-child(1) {
					transition-delay: .2s;
				}

				&:nth-child(2) {
					transition-delay: .35s;
				}

				&:nth-child(3) {
					transition-delay: .5s;
				}
			}

			@media (min-width: 1660px) {
				flex: 0 0 350px;
				max-width: 350px;
				margin: 0 35px;
			}

			.img {
				box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
				overflow: hidden;

				img {
					transition: all .3s ease-in-out;
				}
			}

			.text {
				padding-top: 20px;

				h3 {
					font-size: 18px;
					color: map-get($mau, main);
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					height: 54px;
				}
			}

			.button-wrapper {
				padding-top: 20px;
				text-align: center;
			}

			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	@media (max-width: 1024px) {
		padding: 30px 0;

		>.img {
			display: none;
		}

		.title-block {
			.main-title {
				color: map-get($mau, main);
			}
		}

		.news-items {
			flex-wrap: wrap;

			.item {
				flex: 0 0 100%;
				max-width: 100%;

				a {
					display: block;

					&:after {
						clear: both;
						display: table;
						content: ''
					}
				}

				.img {
					width: 40%;
					float: left;

					img {
						width: 100%;
					}
				}

				.text {
					float: right;
					width: 60%;
					padding-left: 20px;

					h3 {
						font-size: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 3;
						height: 72px;
					}
				}

				.button-wrapper {
					float: left;
					width: 60%;
					padding-left: 20px;
				}

				+.item {
					margin-top: 20px;
				}
			}
		}
	}

	@media (max-width: 576px) {
		.news-items {
			.item {
				.img {
					width: 50%;
				}

				.text {
					padding-top: 0;
					width: 50%
				}

				.button-wrapper {
					width: 50%;
					padding-top: 10px;

					.btn-readmore {
						width: 150px;
					}
				}
			}
		}
	}

	@media (min-width: 1025px) {
		&.active {
			.title-block {
				.main-title {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.news-items {
				.item {

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
	}
}