section.section-news-list
	.content
		.title-block
			h2.main-title.center Tin tức nổi bật
		.row
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://ngoisao.net/the-thao/anh-duc-ghi-dau-an-trong-da-bong-va-kinh-doanh-4026913.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_1.jpg", alt="")
						.text
							h3 Anh Đức ghi dấu ấn trong bóng đá và kinh doanh
							
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://vnexpress.net/the-thao/anh-duc-dau-tu-bat-dong-san-sau-chia-tay-tuyen-quoc-gia-4025095.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_2.jpg", alt="")
						.text
							h3 Anh Đức đầu tư bất động sản sau chia tay tuyển quốc gia
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://cafeland.vn/video/view/giai-ma-suc-hut-cua-du-an-aqua-city-tai-trien-lam-novaland-expo-122019-10630.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_3.jpg", alt="")
						.text
							h3 Giải mã sức hút của dự án Aqua City tại triển lãm Novaland Expo 12/2019
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://vnexpress.net/kinh-doanh/phat-trien-do-thi-sinh-thai-thong-minh-la-xu-huong-tat-yeu-4024315.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_4.jpg", alt="")
						.text
							h3 Phát triển đô thị sinh thái thông minh là xu hướng tất yếu
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://news.zing.vn/xanh-va-cong-nghe-hai-yeu-to-nang-tam-gia-tri-du-an-bds-post1011187.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_5.jpg", alt="")
						.text
							h3 Xanh và công nghệ, hai yếu tố nâng tầm giá trị bất động sản
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://nhadat.tuoitre.vn/vui-choi-voi-thien-nhien-mon-qua-cho-tre-tai-aqua-city-20191114121015669.htm")
						.img
							.img-wrapper
								img(src="./assets/news/n_6.jpg", alt="")
						.text
							h3 Vui chơi với thiên nhiên: món quà cho trẻ tại Aqua City
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://vnexpress.net/giai-tri/to-am-cua-luong-the-thanh-thuy-diem-ngap-tieng-cuoi-4011633.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_7.jpg", alt="")
						.text
							h3 Tổ ấm của Lương Thế Thành – Thúy Diễm tràn ngập tiếng cười
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://news.zing.vn/the-thanh-thuy-diem-chung-toi-muon-la-chinh-minh-khi-ve-nha-post1012248.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_8.jpg", alt="")
						.text
							h3 Thế Thành - Thúy Diễm: ‘Chúng tôi muốn là chính mình khi về nhà’
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://cafeland.vn/tin-tuc/sot-biet-thu-do-thi-ve-tinh-lien-ke-trung-tam-83686.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_9.jpg", alt="")
						.text
							h3 “sốt” biệt thự đô thị vệ tinh liền kề trung tâm
						.button-wrapper
							span.btn.btn-readmore Xem thêm
			.col-lg-4.col-sm-6
				.news-item
					a(target="_blank" href="https://vnexpress.net/kinh-doanh/kinh-nghiem-phat-trien-do-thi-sinh-thai-thong-minh-tren-the-gioi-4007029.html")
						.img
							.img-wrapper
								img(src="./assets/news/n_10.jpg", alt="")
						.text
							h3 Kinh nghiệm phát triển đô thị sinh thái thông minh trên thế giới
						.button-wrapper
							span.btn.btn-readmore Xem thêm
		.row
			.col-12.pagination
				ul.pagination-list
					li.pagination-prev
						a(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" width="8.371" height="14.521" viewBox="0 0 8.371 14.521"><path d="M4.641,0,0,5.141l4.752,5.141" transform="translate(1.5 2.119)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>
					li.pagination-item
						a(href="#") 1
					li.pagination-item
						a(href="#") 2
					li.pagination-item.active
						a(href="#") 3
					li.pagination-dots
						a(href="#") ...
					li.pagination-item
						a(href="#") 126
					li.pagination-next
						a(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" width="8.371" height="14.521" viewBox="0 0 8.371 14.521"><path d="M4.641,0,0,5.141l4.752,5.141" transform="translate(1.5 2.119)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>