.section.news-related
	//- .img
	//- 	img.ofcv(src="./assets/index/i_8.jpg", alt="")
	.content
		.container
			.title-block
				h2.main-title.center Danh mục tin tức
			.news-items
				.swiper-prev.desktop
					img.lazyload(data-src="./assets/btn_toggle.png", alt="")
				.swiper-next.desktop
					img.lazyload(data-src="./assets/btn_toggle.png", alt="")
				//- .swiper-container
				//- 	.swiper-wrapper
				//- 		.swiper-slide
				.news-item
					a(target="_blank" href="https://vnexpress.net/kinh-doanh/hoi-thao-ve-do-thi-sinh-thai-thong-minh-tai-novaland-expo-2019-4018347.html?fbclid=IwAR3N_z7yTqOQBwpBUOAjLQ3aICeIXB45gf9jUEZZ_LkozFlejyF-73up_hY")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_1.jpg", alt="")
						.text
							h3 Hội thảo về đô thị sinh thái thông minh tại Novaland Expo 2019
						.button-wrapper
							span.btn.btn-readmore Xem thêm
						//- .swiper-slide
				.news-item
					a(target="_blank" href="https://dep.com.vn/xanh-hoa-cuoc-song-lieu-thuoc-tinh-than-cho-the-he-dep/")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_3.jpg", alt="")
						.text
							h3 "Xanh" hóa cuộc sống - Liều thuốc tinh thần cho thế hệ đẹp
							
						.button-wrapper
							span.btn.btn-readmore Xem thêm
						//- .swiper-slide
				.news-item
					a(target="_blank" href="http://cafef.vn/chia-tay-tuyen-quoc-gia-anh-duc-tiep-tuc-hanh-trinh-cho-nhung-dam-me-sau-san-co-2019112717161544.chn")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_2.jpg", alt="")
						.text
							h3 Chia tay tuyển quốc gia, Anh Đức tiếp tục hành trình cho những đam mê sau sân cỏ
						.button-wrapper
							span.btn.btn-readmore Xem thêm
.news-detail
	.container
		.row
			.col-lg-8
				h1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aliquid perferendis amet molestiae animi, dicta ducimus harum autem tempora esse, ullam saepe impedit atque officiis accusamus quos provident. Vel, totam?
				time 18-02-2020
				.content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam architecto veritatis eaque id ipsum sequi esse rem numquam obcaecati nesciunt, quaerat provident commodi officiis repudiandae perspiciatis aliquid accusantium, deserunt dolor! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae corrupti sequi ut fugiat tenetur iste eveniet veritatis excepturi impedit, repellat facere tempore alias recusandae doloribus officiis amet. Sapiente, perferendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat, perferendis aliquam molestiae, voluptatibus delectus dolore et culpa ut maiores sequi quam. Eaque nisi, aperiam dolores a eos corporis error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum dolores tempora eaque recusandae harum pariatur enim laborum voluptatibus, laboriosam maiores doloremque deserunt. Explicabo molestiae laudantium commodi praesentium maiores incidunt!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius officia, necessitatibus ratione rem nostrum voluptatem cumque laudantium eos accusantium rerum doloremque beatae tenetur harum. Error alias voluptatum obcaecati nesciunt animi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis eius, officia odit ipsa inventore necessitatibus veritatis ex cupiditate fugiat in consectetur, voluptate non? Obcaecati similique commodi vitae perspiciatis quisquam explicabo!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem odit inventore obcaecati eaque esse recusandae perspiciatis voluptatem placeat officiis excepturi dolores sequi, odio totam. Et molestias deserunt dicta reprehenderit adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos delectus facilis quae dolorum iste ad, recusandae, officiis enim amet quaerat ea quibusdam dicta accusamus doloremque labore, eveniet quisquam ipsum. Pariatur.
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus libero reiciendis esse necessitatibus dolores maiores et ratione, quis distinctio dicta. Odit praesentium dicta consequuntur eos aliquid saepe eum nesciunt illo.
						li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur fuga quasi dicta corporis minus rem minima molestias facilis voluptate.
						li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi optio ipsum, assumenda animi fugiat voluptas inventore exercitationem totam alias modi rerum ad dolorum ipsa unde tempora distinctio quae consequatur sunt!
			.col-lg
			.col-lg-3.news-others
				h2 Tin tức liên quan
				.list-news.row
					.col-lg-12.col-md-4.col-sm-6
						.news-item
							a(target="_blank" href="https://ngoisao.net/the-thao/anh-duc-ghi-dau-an-trong-da-bong-va-kinh-doanh-4026913.html")
								.img
									.img-wrapper
										img(src="./assets/news/n_1.jpg", alt="")
								.text
									h3 Anh Đức ghi dấu ấn trong bóng đá và kinh doanh
					.col-lg-12.col-md-4.col-sm-6
						.news-item
							a(target="_blank" href="https://vnexpress.net/kinh-doanh/phat-trien-do-thi-sinh-thai-thong-minh-la-xu-huong-tat-yeu-4024315.html")
								.img
									.img-wrapper
										img(src="./assets/news/n_4.jpg", alt="")
								.text
									h3 Phát triển đô thị sinh thái thông minh là xu hướng tất yếu
					.col-lg-12.col-md-4.col-sm-6
						.news-item
							a(target="_blank" href="https://news.zing.vn/xanh-va-cong-nghe-hai-yeu-to-nang-tam-gia-tri-du-an-bds-post1011187.html")
								.img
									.img-wrapper
										img(src="./assets/news/n_5.jpg", alt="")
								.text
									h3 Xanh và công nghệ, hai yếu tố nâng tầm giá trị bất động sản
				.button-wrapper
					a.btn.btn-readmore(href="#") Xem thêm