.section.news-related
	.img
		img.ofcv(src="./assets/index/i_8.jpg", alt="")
	.content
		.container
			.title-block
				h2.main-title.center Danh mục tin tức
			.news-items
				.swiper-prev.desktop
					img.lazyload(data-src="./assets/btn_toggle.png", alt="")
				.swiper-next.desktop
					img.lazyload(data-src="./assets/btn_toggle.png", alt="")
				//- .swiper-container
				//- 	.swiper-wrapper
				//- 		.swiper-slide
				.news-item
					a(target="_blank" href="https://vnexpress.net/kinh-doanh/hoi-thao-ve-do-thi-sinh-thai-thong-minh-tai-novaland-expo-2019-4018347.html?fbclid=IwAR3N_z7yTqOQBwpBUOAjLQ3aICeIXB45gf9jUEZZ_LkozFlejyF-73up_hY")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_1.jpg", alt="")
						.text
							h3 Hội thảo về đô thị sinh thái thông minh tại Novaland Expo 2019
						.button-wrapper
							span.btn.btn-readmore Xem thêm
						//- .swiper-slide
				.news-item
					a(target="_blank" href="https://dep.com.vn/xanh-hoa-cuoc-song-lieu-thuoc-tinh-than-cho-the-he-dep/")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_3.jpg", alt="")
						.text
							h3 "Xanh" hóa cuộc sống - Liều thuốc tinh thần cho thế hệ đẹp
							
						.button-wrapper
							span.btn.btn-readmore Xem thêm
						//- .swiper-slide
				.news-item
					a(target="_blank" href="http://cafef.vn/chia-tay-tuyen-quoc-gia-anh-duc-tiep-tuc-hanh-trinh-cho-nhung-dam-me-sau-san-co-2019112717161544.chn")
						.img
							//- img.lazyload(data-src="./assets/index/i_8_2.jpg", alt="")
						.text
							h3 Chia tay tuyển quốc gia, Anh Đức tiếp tục hành trình cho những đam mê sau sân cỏ
						.button-wrapper
							span.btn.btn-readmore Xem thêm