.area-1 {
	display: flex;
	flex-direction: column;

	.img {
		max-width: 100%;

		img {
			width: 100%;
		}
	}

	.content {
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.logo,
		.text {
			width: 100%;
			text-align: center;

			img {
				width: 100%;
				max-width: 610px;

				@media (max-width: 1024px) {
					max-width: 450px;
				}

				@media (max-width: 576px) {
					max-width: 240px;
				}
			}

			svg {
				width: 100%;
				max-width: 1040px;

				path {
					stroke: #4C8343;
					stroke-width: .5;
					stroke-dasharray: 470;
					stroke-dashoffset: 470;
					fill: transparent;
				}
			}
		}

		.logo {
			transform: translateY(-25px);
			opacity: 0;
			transition: all .5s ease-in-out;
		}
	}

	.swiper-container {
		width: 100%;
		height: 100%;

		.swiper-prev,
		.swiper-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			cursor: pointer;

			&.swiper-button-disabled {
				display: none;
			}

			@media (max-width: 1024px) {
				display: none;
			}
		}

		.swiper-prev {
			left: 70px;
			transform: rotateZ(180deg) translateY(50%);
		}

		.swiper-next {
			right: 70px;
		}

		.swiper-slide {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;

			video {
				object-fit: cover;
				width: 100%;
				height: 100%;
				object-position: bottom;
			}
		}
	}

	@media (max-width: 1659.98px) {
		.content {
			.logo {
				img {
					max-width: 450px;
				}
			}

			.text {
				svg {
					max-width: 750px;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		.content {
			padding: 30px 15px;

			.text {
				margin-top: 20px;
			}
		}

		.swiper-container {
			.swiper-pagination {
				.swiper-pagination-bullet {
					border-radius: 4px;
					height: 8px;
					transition: all .4s ease-in-out;
				}

				.swiper-pagination-bullet-active {
					width: 30px;
					background-color: map-get($mau, main);
				}
			}
		}
	}
}

.show-page {
	.area-1 {
		.content {
			.logo {
				transform: translateY(0);
				opacity: 1;
			}

			.text {
				svg {
					path {
						animation: MapDash linear 2s forwards;
						fill: #4C8343;
						transition: fill .5s linear;
						transition-delay: 1.5s;
					}
				}
			}
		}
	}
}