.area-4 {

	.title {
		background-color: #0d4432;
		padding-top: 10px;
		padding-bottom: 10px;

		p:not(.title-text) {
			color: white;
			text-transform: uppercase;
			text-align: right;
			padding-left: 60px;
			padding-right: 60px;
			line-height: 1.2;
			font-size: 28px;

			span {
				display: block;
			}

			@media (min-width: 1660px) {
				font-size: 40px;
				padding-right: 120px;
			}

			@media (max-width: 1024px) {
				font-size: 28px;
				font-weight: 700;
			}
		}

		.title-text {
			font-size: 60px;
			text-transform: uppercase;
			line-height: 1.2;
			font-weight: 700;
			background-image: url('../assets/gradient_1.jpg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			padding-right: 60px;
			padding-left: 60px;
			text-align: right;

			&.grad {
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
			}

			@media (min-width: 1660px) {
				font-size: 70px;
				padding-right: 120px;
				padding-left: 120px;
			}
		}

		@media (min-width: 1025px) {
			&:before {
				position: absolute;
				content: '';
				top: -10px;
				bottom: -10px;
				left: 10px;
				border: 4px solid #d4b76f;
				border-right: 0;
				right: 0;
			}
		}

		@media (max-width: 1024px) {
			background: transparent;

			p:not(.title-text) {
				padding: 0 0;
				text-align: center;
				color: #0d4432;
			}
		}
	}

	.row {
		height: 100%;
	}

	.img {
		background-image: url('../assets/area/a_4.png');
		background-repeat: no-repeat;
		background-size: cover;
		flex: 0 0 60%;
		max-width: 60%;
		position: relative;
		height: 100%;

		img {
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.btn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			img {
				opacity: 1;
				visibility: visible;
			}

		}
	}

	.number {
		span {
			font-size: 600px;
			line-height: 1;
			color: #b3c4ab;
			cursor: context-menu;
		}
	}

	.btn-viewmore {
		background: #003b28;
		color: white;
		text-transform: uppercase;
	}

	@media (min-width: 1025px) {
		.section-widget {
			position: absolute;
			top: 200px;
			right: 0;
			z-index: 2;
		}

		.btn-viewmore {
			height: 44px;
			border-radius: 22px;
			font-size: 22px;
			padding: 0 35px;
			margin-top: 30px;
			position: absolute;
			right: 100px;
		}
	}

	@media (min-width: 1660px) {
		.btn-viewmore {
			height: 50px;
			border-radius: 25px;
			font-size: 30px;
			padding: 0 50px;
			margin-top: 40px;
			position: absolute;
			right: 160px;
		}
	}

	@media (max-width: 1024px) {
		padding: 30px 0 0 0;
		position: relative;

		.title {
			.title-text.grad {
				margin-top: 10px;
				padding: 0;
				text-align: center;
			}
		}

		.btn-viewmore {
			position: absolute;
			bottom: 60px;
			left: 50%;
			transform: translateX(-50%);
			height: 40px;
			padding: 0 30px;
			font-size: 18px;
			z-index: 2;
		}

		.img {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.number {
			text-align: center;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			display: none;

			span {
				font-size: 210px;
			}
		}
	}

	@media (max-width: 576px) {

		.title {

			p:not(.title-text) {
				font-size: 22px;

				span {
					display: block;
				}
			}

			.title-text.grad {
				font-size: 32px;
			}
		}
	}
}

.fancybox-slide--html {
	padding: 0;
}

.popup-area-4 {
	width: 100%;
	height: 100%;
	padding: 0 0 40px 0;
	background-color: #f8f5ee;

	&::-webkit-scrollbar {
		background: #cfcfcf;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: #003b28;
	}

	.fancybox-close-small {
		right: 15px;
		padding: 0;
		border: 0;

		svg {
			path {
				stroke-width: 1;
				stroke: #4c8343;
			}
		}
	}

	.logo {
		position: absolute;
		height: 70px;
		top: 15px;

		img {
			height: 100%;
		}
	}

	.container {
		padding-top: 160px;

		.col-sm-6 {
			margin-bottom: 40px;
			position: relative;

			@media (min-width: 1025px) {
				.img {
					max-height: 350px;
					overflow: hidden;
				}

				.text {
					position: absolute;
					bottom: 50px;
					background: #003b28;
					padding: 15px 70px 15px 20px;

					&:before {
						content: '';
						position: absolute;
						top: -9px;
						right: 5px;
						bottom: -9px;
						left: 0;
						border: 4px solid #d4b76f;
						border-left: 0;
					}

					h3 {
						font-size: 21px;
						color: white;
						font-weight: 400;
					}
				}
			}

			@media (min-width: 1660px) {
				.text {
					h3 {
						font-size: 24px;
					}
				}
			}

			@media (max-width: 1024px) {
				margin-bottom: 0;
				margin-top: 15px;

				.text {
					padding: 10px;
					background: #003b28;

					h3 {
						font-size: 20px;
						color: white;
					}
				}
			}
		}

		@media (max-width: 1659.98px) {
			padding-top: 120px;
		}

		@media (max-width: 1024px) {
			padding-top: 80px;
		}
	}

	.content {
		padding: 0 135px;

		@media (max-width: 1024px) {
			padding: 0 0;
		}
	}
}