.area-5 {
	padding: 170px 30px 60px 30px;
	background-image: url('../assets/area/leave.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;

	@media (min-width: 1025px) {
		background-size: 110px;

		.content {
			border: 5px solid map-get($mau, main-2);
			display: flex;
			align-items: center;
			height: 100%;

			.row {
				margin: 0 -25px;

				.col-sm-6 {
					padding: 0 25px;
				}
			}
		}

		.item {
			display: flex;
			flex-direction: column;

			.info {
				display: flex;
				align-items: center;
				padding-left: 10px;
				transition: all .3s ease-in-out;
			}

			.img {
				overflow: hidden;

				img {
					width: 100%;
					transition: all .3s ease-in-out;
				}
			}

			.number {
				font-size: 350px;
				line-height: 1;
				color: #b3c4ab;

				@media (max-width: 1609.98px) {
					font-size: 225px;
				}
			}

			.text {

				h3 {
					font-size: 80px;
					color: #4c8343;
					line-height: 1.1;

					@media (max-width: 1609.98px) {
						font-size: 45px;
					}
				}

				p {
					font-size: 32px;
					color: #262626;

					@media (max-width: 1609.98px) {
						font-size: 24px;
					}
				}
			}

			&:nth-child(odd) {
				.img {
					margin-left: -35px;
					margin-bottom: -35px;
				}
			}

			&:nth-child(even) {
				flex-direction: column-reverse;

				.img {
					margin-right: -35px;
					margin-top: -35px;
				}
			}

			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}

				.info {
					padding-left: 20px;
				}
			}
		}
	}

	@media (min-width: 1610px) {
		background-size: 170px;
	}

	@media (max-width: 1024px) {
		padding: 30px 0;
		background: none;

		.content {
			padding: 0 10px;
		}

		.item {
			position: relative;

			.number {
				display: none;
			}

			.text {
				background: rgba(#0d4432, 1);
				padding: 10px;

				h3,
				p {
					color: white;
				}
			}
		}
	}

	@media (max-width: 576px) {
		.item {
			+.item {
				margin-top: 20px;
			}
		}
	}
}