.area-6 {
	position: relative;

	.content {
		position: absolute;
		top: 130px;
		bottom: 130px;
		left: 160px;
		right: 160px;
		border: 5px solid map-get($mau, main-2);
	}

	.img {
		height: 100%;

		img {
			height: 100%;
		}
	}
}