.area-6 {
	position: relative;
	background-image: url('../assets/area/leave.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;

	.item {
		h3 {
			font-size: 32px;
		}

		hr {
			width: 160px;
			margin-right: 0;
			height: 4px;
			display: block;
			margin-left: auto;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../assets/bg_btn_discover.png');
			border: 0;
		}

		@media (min-width: 1025px) {
			+.item {
				margin-top: 40px;
			}
		}
	}

	@media (min-width: 1025px) {
		background-size: 170px;

		.content {
			position: absolute;
			top: 160px;
			bottom: 130px;
			left: 160px;
			right: 160px;
			border: 5px solid map-get($mau, main-2);
		}

		.img {
			height: 100%;
			max-width: 60%;

			img {
				height: 100%;
			}
		}

		.title {
			position: absolute;
			top: -30px;
			right: -10px;
			display: flex;
			align-items: flex-end;
			flex-direction: column;

			p {
				padding-left: 30px;
				font-size: 60px;
				text-transform: uppercase;
				color: #4c8343;
				background: #f8f5ee;
			}

			h2 {
				text-align: right;
				font-size: 70px;
				font-weight: 700;
				text-transform: uppercase;
				color: #4c8343;
			}
		}

		.number {
			line-height: 1;
			color: #b3c4ab;
			position: absolute;
			top: 0px;
			right: -5px;
			padding-right: 470px;
			background: #f8f5ee;
			font-size: 225px;

			@media (min-width: 1660px) {
				font-size: 350px;
			}
		}

		.items {
			position: absolute;
			bottom: 100px;
			right: 45px;
			text-align: right;
		}
	}

	@media (max-width: 1024px) {
		background-image: url('../assets/area/a_6.jpg');

		.number {
			display: none;
		}

		.img {
			display: none;
		}

		.content {
			background-color: rgba(255, 255, 255, .8);
			background-repeat: no-repeat;
			background-position: 100% 100%;
			height: 280px;
			padding-top: 30px;
		}

		.title {
			text-align: center;
			margin-bottom: 20px;

			p,
			h2 {
				font-size: 30px;
				color: #003b28;
				text-transform: uppercase;

				br {
					display: none;
				}
			}
		}

		.items {
			display: flex;

			.item {
				flex: 0 0 50%;
				max-width: 50%;
				text-align: center;

				hr {
					margin: 10px auto;
				}

				h3 {
					font-size: 26px;
					color: #0d4432;
				}

				p {
					font-size: 18px;
				}
			}
		}
	}

	@media (max-width: 576px) {
		.title {

			p,
			h2 {
				font-size: 22px;
			}
		}
		.items{
			.item{
				h3 {
					font-size: 20px;
				}
			}
		}
	}
}