@keyframes wiggle {
	0% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(7deg);
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 0%;
	}
}

@keyframes MapDash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes LogoDashOffset {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

@keyframes fillColor {
	to {
		stroke: rgba(0, 0, 0, 0);
		fill: #e8de8b;
	}
}