@font-face {
	font-family: 'Halo Handletter';
	src: url('../fonts/HaloHandletter.eot');
	src: local('Halo Handletter'),
		url('../fonts/HaloHandletter.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HaloHandletter.woff2') format('woff2'),
		url('../fonts/HaloHandletter.woff') format('woff'),
		url('../fonts/HaloHandletter.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Domaine Display';
	src: url('../fonts/iCielDomaineDisplay-Bold.eot');
	src: local('iCiel Domaine Display Bold'), local('../fonts/iCielDomaineDisplay-Bold'),
		url('../fonts/iCielDomaineDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielDomaineDisplay-Bold.woff2') format('woff2'),
		url('../fonts/iCielDomaineDisplay-Bold.woff') format('woff'),
		url('../fonts/iCielDomaineDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../fonts/iCielGotham-Medium.eot');
	src: local('iCiel Gotham Medium'), local('../fonts/iCielGotham-Medium'),
		url('../fonts/iCielGotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielGotham-Medium.woff2') format('woff2'),
		url('../fonts/iCielGotham-Medium.woff') format('woff'),
		url('../fonts/iCielGotham-Medium.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Panton';
	src: url('../fonts/iCielPanton-Light.eot');
	src: local('iCiel Panton Light'), local('../fonts/iCielPanton-Light'),
		url('../fonts/iCielPanton-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielPanton-Light.woff2') format('woff2'),
		url('../fonts/iCielPanton-Light.woff') format('woff'),
		url('../fonts/iCielPanton-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../fonts/iCielGotham-Book.eot');
	src: local('iCiel Gotham Book'), local('../fonts/iCielGotham-Book'),
		url('../fonts/iCielGotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielGotham-Book.woff2') format('woff2'),
		url('../fonts/iCielGotham-Book.woff') format('woff'),
		url('../fonts/iCielGotham-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Panton';
	src: url('../fonts/iCielPanton-BlackItalic.eot');
	src: local('iCiel Panton Black Italic'), local('../fonts/iCielPanton-BlackItalic'),
		url('../fonts/iCielPanton-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielPanton-BlackItalic.woff2') format('woff2'),
		url('../fonts/iCielPanton-BlackItalic.woff') format('woff'),
		url('../fonts/iCielPanton-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'iCiel Panton';
	src: url('../fonts/iCielPanton-Black.eot');
	src: local('iCiel Panton Black'), local('../fonts/iCielPanton-Black'),
		url('../fonts/iCielPanton-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielPanton-Black.woff2') format('woff2'),
		url('../fonts/iCielPanton-Black.woff') format('woff'),
		url('../fonts/iCielPanton-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../fonts/iCielGotham-Bold.eot');
	src: local('iCiel Gotham Bold'), local('../fonts/iCielGotham-Bold'),
		url('../fonts/iCielGotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielGotham-Bold.woff2') format('woff2'),
		url('../fonts/iCielGotham-Bold.woff') format('woff'),
		url('../fonts/iCielGotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'iCiel Panton';
	src: url('../fonts/iCielPanton-LightItalic.eot');
	src: local('iCiel Panton Light Italic'), local('../fonts/iCielPanton-LightItalic'),
		url('../fonts/iCielPanton-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielPanton-LightItalic.woff2') format('woff2'),
		url('../fonts/iCielPanton-LightItalic.woff') format('woff'),
		url('../fonts/iCielPanton-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'iCiel Gotham';
	src: url('../fonts/iCielGotham-Ultra.eot');
	src: local('iCiel Gotham Ultra'), local('../fonts/iCielGotham-Ultra'),
		url('../fonts/iCielGotham-Ultra.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iCielGotham-Ultra.woff2') format('woff2'),
		url('../fonts/iCielGotham-Ultra.woff') format('woff'),
		url('../fonts/iCielGotham-Ultra.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: "Material Design Icons";
	src: url("../fonts/materialdesignicons-webfont.eot?v=3.5.94");
	src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=3.5.94") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=3.5.94") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=3.5.94") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=3.5.94") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=3.5.94#materialdesigniconsregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.mdi:before,
.mdi-set {
	display: inline-block;
	font: normal normal normal 24px/1 "Material Design Icons";
	font-size: inherit;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Font Awesome 5 Brands";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("../fonts/fa-brands-400.eot");
	src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab:before {
	font-family: "Font Awesome 5 Brands";
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("../fonts/fa-regular-400.eot");
	src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("../fonts/fa-solid-900.eot");
	src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa:before,
.fas:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.fa:before,
.fas:before,
.far:before,
.fal:before,
.fab:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

@font-face {
	font-family: "Linearicons-Free";
	src: url("../fonts/Linearicons-Free.eot?w118d");
	src: url("../fonts/Linearicons-Free.eot?#iefixw118d") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2?w118d") format("woff2"), url("../fonts/Linearicons-Free.woff?w118d") format("woff"), url("../fonts/Linearicons-Free.ttf?w118d") format("truetype"), url("../fonts/Linearicons-Free.svg?w118d#Linearicons-Free") format("svg");
	font-weight: normal;
	font-style: normal;
}

.lnr:before {
	font-family: "Linearicons-Free";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-facebook-f:before {
	content: '\f39e'
}

.fa-youtube:before {
	content: '\f167'
}

.fa-home:before {
	content: '\f015'
}

.fa-envelope:before {
	content: '\f0e0'
}

.mdi-phone-in-talk:before {
	content: '\f3f6'
}

.mdi-arrow-up-bold:before {
	content: '\f736'
}

.mdi-download:before {
	content: '\f1da'
}

.lnr-chevron-left:before {
	content: '\e875'
}

.lnr-chevron-right:before {
	content: '\e876'
}