$mau: (main: rgb(7, 65, 76), main-2: #b7883d);



@keyframes wiggle {
	0% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(7deg);
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 0%;
	}
}