.section-brochure-list {
	position: relative;
	background-color: white;

	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;

		img {
			width: 100%;
			object-fit: cover;
			height: 100%;
		}

		@media (min-width: 1025px) {
			height: 410px;
		}

		@media (min-width: 1440px) {
			height: 420px
		}

		@media (min-width: 1610px) {
			height: 515px;
		}
	}

	@media (min-width: 1025px) {
		min-height: 100vh;
	}

	&:before {
		position: absolute;
		content: '';
		z-index: 1;
		left: 0;
		bottom: 0;
		background-image: url('../assets/brochure/b_bg_1.png');
		background-size: 160px;
		background-position: left bottom;
		background-repeat: no-repeat;
		width: 225px;
		height: 345px;

		@media (max-width: 1024px) {
			content: none;
		}
	}

	&:after {
		position: absolute;
		content: '';
		z-index: 1;
		right: 0;
		bottom: 0;
		background-image: url('../assets/brochure/b_bg_2.png');
		background-size: 160px;
		background-position: right bottom;
		background-repeat: no-repeat;
		width: 225px;
		height: 345px;

		@media (max-width: 1024px) {
			content: none;
		}
	}

	.title-block {
		margin-bottom: 30px;

		.main-title {
			color: white;
			font-size: 32px;

			@media (min-width: 768px) {
				font-size: 40px;
			}

			@media (min-width: 1025px) {
				font-size: 50px;
			}

			@media (min-width: 1610px) {
				font-size: 70px;
			}
		}
	}

	.content {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 50px 10px 30px;

		@media (min-width: 768px) {
			padding-top: 120px;
		}

		@media (min-width: 1025px) {
			padding: 150px 30px 30px;
		}

		@media (min-width: 1440px) {
			padding: 180px 30px 30px;
		}

		@media (min-width: 1610px) {
			padding: 230px 25px 50px;
		}
	}

	.brochure-slider {
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
		position: relative;

		.swiper-prev,
		.swiper-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
			cursor: pointer;
		}

		.swiper-prev {
			left: -75px;

			img {
				transform: rotateY(180deg);
			}
		}

		.swiper-next {
			right: -75px;
		}

		@media (max-width: 1440px) {
			.swiper-prev {
				left: -50px;
			}

			.swiper-next {
				right: -50px;
			}
		}

		@media (max-width: 1024px) {
			.swiper-prev {
				left: 20px;
				top: 40%;
			}

			.swiper-next {
				right: 20px;
				top: 40%;
			}
		}

		@media (max-width: 1024px) {
			max-width: 450px;

			.swiper-prev,
			.swiper-next {
				width: 20px;
			}
		}
	}

	.row {
		justify-content: center;

		.col-item {
			padding: 0 45px;
			flex: 0 0 420px;
			max-width: 420px;

			@media (max-width: 1440px) {
				padding: 0 30px;

			}

			@media (max-width: 1024px) {
				padding: 0 20px;
				max-width: 50%;
			}

			@media (max-width: 768px) {
				padding: 0 10px;
				flex: 0 0 50%;
			}
		}
	}

	.item {
		.img {
			margin-bottom: 8px;
			box-shadow: 0 0 12px rgba(black, .4);

			.img-wrapper {
				overflow: hidden;
			}

			img {
				width: 100%;
			}

		}

		.info {
			text-align: center;
			margin-bottom: 8px;

			h3 {
				font-size: 28px;
				text-transform: uppercase;
				color: map-get($mau, main);

				@media (max-width: 1440px) {
					font-size: 24px;
				}

				@media (max-width: 1024px) {
					font-size: 20px;
				}

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}
		}

		.btn-wrapper {
			display: flex;
			justify-content: center;

			.btn-readmore {
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;

				@media (max-width: 1024px) {
					width: 135px;
				}
			}
		}
	}
}