extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Đường dạo ven sông', 'Bến du thuyền','Công viên xanh','Vườn ươm cây','Bến thuyền Kayak','Clubhouse & hồ bơi', 'Aqua central mall','Game center','Khu vui chơi trẻ em','Trường học các cấp','Aqua sport complex','Phòng khám đa khoa quốc tế'];
block banner,breadcrumb
block main
	include _components/_layout/_widget
	#fullpage
		include _components/index/i-1
		include _components/index/i-2
		include _components/index/i-3
		include _components/index/i-4
		include _components/index/i-5
		include _components/index/i-6
		include _components/index/i-7
		include _components/index/i-8
		include _components/index/i-9
		include _components/index/i-10
block scripts