extends _components/_layout/_layout.pug

block var
	- let title = 'Trang chủ';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Đường dạo ven sông', 'Bến du thuyền','Công viên xanh','Vườn ươm cây','Bến thuyền Kayak','Clubhouse & hồ bơi', 'Aqua central mall','Game center','Khu vui chơi trẻ em','Trường học các cấp','Aqua sport complex','Phòng khám đa khoa quốc tế'];
block loading
	#loading
		.logo-loader
			img.svg-image(data-src="./assets/logo.svg", alt="")
		.progstat-wrapper.d-none Loading:
			span#progstat 0
			| %
		#progress
block banner,breadcrumb
block main
	include _components/_layout/_widget
	#fullpage
		include _components/index/i-1
		include _components/index/i-2
		include _components/index/i-3
		include _components/index/i-4
		include _components/index/i-5
		include _components/index/i-6
		include _components/index/i-7
		include _components/index/i-8
		include _components/index/i-9
		include _components/index/i-10
	#next-section
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 140" version="1.1" x="0px" y="0px"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill="#000000"><path class="mouse-next-section" d="M50,94.5787804 L64.7927304,79.7860499 C65.573779,79.0050013 66.840109,79.0050013 67.6211576,79.7860499 C68.4022061,80.5670985 68.4022061,81.8334285 67.6211576,82.614477 L51.4142136,98.8214211 C51.0236893,99.2119453 50.5118446,99.4072075 50,99.4072075 C49.4881554,99.4072075 48.9763107,99.2119453 48.5857864,98.8214211 L32.3312722,82.566907 C31.5502236,81.7858584 31.5502236,80.5195284 32.3312722,79.7384798 C33.1123208,78.9574313 34.3786508,78.9574313 35.1596993,79.7384798 L50,94.5787804 Z" /><path class="mouse-next-section delay-1" d="M50,94.5787804 L64.7927304,79.7860499 C65.573779,79.0050013 66.840109,79.0050013 67.6211576,79.7860499 C68.4022061,80.5670985 68.4022061,81.8334285 67.6211576,82.614477 L51.4142136,98.8214211 C51.0236893,99.2119453 50.5118446,99.4072075 50,99.4072075 C49.4881554,99.4072075 48.9763107,99.2119453 48.5857864,98.8214211 L32.3312722,82.566907 C31.5502236,81.7858584 31.5502236,80.5195284 32.3312722,79.7384798 C33.1123208,78.9574313 34.3786508,78.9574313 35.1596993,79.7384798 L50,94.5787804 Z" /></g></g></svg>
	.mobile#btn-register-now
		.btn.btn-register-now.btn-discover Đăng ký nhận thông tin
	.d-none
		#form-register-now
block scripts