extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';

block banner,breadcrumb
block main
	#widget-left
		a.subscribe(href="#") 
			span Nhận tin
		a.social.facebook(href="#")
			span.fab.fa-facebook-f
		a.social.youtube(href="#")
			span.fab.fa-youtube
	#widget-right
		a.item(href="#")
			span.fas.fa-home
		a.item(href="#")
			span.fas.fa-envelope
		a.item(href="#")
			span.mdi.mdi-phone-in-talk
		a.item(href="#")
			span.mdi.mdi-arrow-up-bold
	#fullpage
		include _components/index/i-1
		include _components/index/i-2
		include _components/index/i-3
		include _components/index/i-4
		include _components/index/i-5
		include _components/index/i-6
		include _components/index/i-7
		include _components/index/i-8
		include _components/index/i-9
		include _components/index/i-10
	#fullpage-mask
	#fullpage-navigation
		- for(let i=1;i<11;i++)
			- if(i===1)
				.item
					a(href='#sec-'+i)
						span.title Title #{i}
						span #{i}
			-else
				.item
					a(href='#sec-'+i)
						span.title Title #{i}
						span #{i}
block scripts
