extends _components/_layout/_layout.pug

block var
	- let title = 'Thư viện video';
	- let bodyClass = 'gallery-video-page';

block banner,breadcrumb
block main
	include _components/gallery/g-2
block scripts
