@import "./v-1.scss";
@import "./v-2.scss";
@import "./v-3.scss";
@import "./v-4.scss";
@import "./v-5.scss";
@import "./v-6.scss";
@import "./v-7.scss";
@import "./v-8.scss";
@import "./v-9.scss";
@import "./v-10.scss";

.section {
	background-color: white;
}

.section-content {
	height: 100%;
}

.fancybox-slide--video {
	@media (max-width: 1024.98px) {
		padding: 10px;
	}
}