#valencia-2 {
	.background {
		background-image: url('../assets/valencia/v_2-background.png');
		background-position: right;
		height: 100%;
	}

	.section-content {
		position: relative;
	}

	.title-block {
		&.mobile {
			margin-bottom: 10px;
			text-align: center;
		}

		h2 {
			color: map-get($mau, main);
			font-size: 22px;
			line-height: 1.2;

			br {
				display: none;
			}
		}

		@media (min-width: 1025px) {
			h2 {
				color: white;
				font-size: 32px;

				br {
					display: inline;
				}
			}
		}

		@media (min-width: 1200px) {
			h2 {
				font-size: 42px;
			}
		}

		@media (min-width: 1440px) {
			h2 {
				font-size: 50px;
			}
		}
	}

	.content {
		padding: 0 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 100;

		.utilities-list {
			padding: 10px 0;
			justify-content: center;

			.text.active {
				cursor: pointer;

				p {
					color: #e8de8b;
				}
			}
		}

		p {
			white-space: nowrap;
			color: white;
			font-size: 13px;
			font-style: italic;
		}

		@media (min-width: 1025px) {
			background-color: transparent;
			padding: 15px 10px 30px 10px;
			bottom: 40px;
			left: 90px;
			z-index: 1001;
			padding: 0;

			.utilities-list {
				padding: 10px;
				background-color: rgba(#2B4C47, .8);
				justify-content: flex-start;
			}
		}

		@media (min-width: 1200px) {
			bottom: 55px;
			left: 115px;

			p {
				font-size: 15px;
			}
		}

		@media (min-width: 1440px) {
			bottom: 70px;
			left: 125px;

			p {
				font-size: 16px;
			}
		}
	}

	@media (min-width: 1025px) {
		.imgMapCanvas {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}