#valencia-3 {
	.background {
		background-image: url('../assets/valencia/v_3-background.png');
		background-position: right;
		height: 100%;
	}

	.section-content {
		position: relative;
	}

	.text {
		background-color: rgba(#2B4C47, .8);
		padding: 15px 10px 30px 10px;

		h2 {
			color: white;
			font-size: 22px;
			text-transform: uppercase;

			@media (min-width: 768px) {
				font-size: 28px;
			}

			@media (min-width: 1025px) {
				font-size: 34px;
			}

			@media (min-width: 1440px) {
				font-size: 40px;
			}

			@media (min-width: 1610px) {
				font-size: 46px;
			}
		}

		.utilities-list {
			padding: 10px 0;
		}

		p {
			white-space: nowrap;
			color: white;
			font-size: 13px;
			font-style: italic;
		}

		@media (min-width: 1025px) {
			background-color: transparent;
			position: absolute;
			bottom: 40px;
			left: 90px;
			z-index: 1001;
			padding: 0;

			.utilities-list {
				background-color: rgba(#2B4C47, .8);
			}
		}

		@media (min-width: 1200px) {
			bottom: 55px;
			left: 115px;

			p {
				font-size: 14px;
			}
		}

		@media (min-width: 1440px) {
			bottom: 70px;
			left: 125px;

			p {
				font-size: 15px;
			}
		}
	}

	@media (min-width: 1025px) {
		.imgMapCanvas {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}