.section#sec-1(fp-title="Trang chủ")
	//- .img
		img.ofcv(src="./assets/index/i_1.jpg", alt="")
	.video
		video.ofcv(muted autoplay loop playsinline)
			source(src="./assets/videos/banner.mp4", type="")