.section#sec-10(fp-title="Thông tin chung")
	.img
		img.ofcv(src="./assets/index/i_9.jpg", alt="")
	.content
		.container
			.row
				.col-lg-4
					.item
						h3 Nhà phát triển dự án
						img.lazyload(data-src="./assets/logo_novaland.png", alt="")
				.col-lg-4
					.item
						h3 Địa chỉ dự án
						h4.txt-grad Tp. Biên Hòa, Đồng Nai
					.item
						h3 Hotline
						.hl-item
							p Tp. Hồ Chí Minh
							h4.txt-grad 0943 79 79 79
						.hl-item
							p Hà Nội
							h4.txt-grad 0938 550 808
				.col-lg-4
					.item
						h3 Sàn giao dịch dự án
						.pj-item
							p KHU NHÀ MẪU NOVALAND
							span 26 Mai Chí Thọ, P. Bình Khánh, Q.2
						.pj-item
							p SÀN GIAO DỊCH HÀM NGHI
							span 181 Hàm Nghi, P. Nguyễn Thái Bình, Q.1
						.pj-item
							p SÀN GIAO DỊCH CÁCH MẠNG THÁNG 8
							span 125 CMT8, Q.1
						.pj-item
							p TRUNG TÂM GIAO DỊCH BẤT ĐỘNG SẢN TẠI AQUA CITY
							span BIÊN HÒA, ĐỒNG NAI
						.pj-item
							p TRUNG TÂM BẤT ĐỘNG SẢN NOVALAND HÀ NỘI
							span 63-65 Ngô Thì Nhậm, Q.Hai Bà Trưng, Hà Nội
