.section#sec-2(fp-title="Mặt bằng")
	.imgMapCanvas
		.map-canvas
			map(name="imageMap", id="imageMap")
				//- area(shape='poly', coords='1213, 1, 1330, 192, 1334, 210, 1356, 210, 1348, 187, 1224, 0')
				area(shape='poly', coords='1106, 443, 1086, 491, 1052, 519, 1048, 532, 1047, 561, 1033, 583, 1005, 605, 1000, 621, 1008, 635, 1080, 698, 1104, 712, 1170, 730, 1210, 749, 1246, 776, 1297, 800, 1340, 811, 1375, 814, 1425, 812, 1453, 806, 1485, 791, 1534, 793, 1537, 633, 1503, 477')
				area(shape='poly', coords='709, 475, 855, 442, 911, 435, 1052, 438, 1052, 465, 1039, 493, 1000, 520, 994, 539, 985, 552, 988, 564, 968, 585, 943, 596, 916, 600, 892, 609, 824, 597')
				area(shape='poly', coords='595, 361, 596, 330, 726, 319, 734, 346, 769, 374, 815, 360, 837, 363, 899, 364, 915, 369, 942, 387, 992, 394, 1016, 406, 1037, 421, 1062, 429, 1106, 426, 1055, 398, 1028, 394, 978, 378, 968, 362, 981, 352, 1044, 349, 1213, 309, 1245, 303, 1298, 279, 1303, 266, 1322, 255, 1342, 252, 1365, 238, 1402, 241, 1477, 380, 1504, 475, 1104, 438, 1046, 434, 911, 431, 852, 439, 705, 472')
				area(shape='poly', coords='508, 381, 491, 372, 457, 361, 409, 350, 389, 348, 378, 351, 376, 359, 387, 375, 391, 390, 386, 409, 363, 439, 251, 528, 223, 556, 198, 586, 174, 606, 167, 600, 153, 608, 161, 615, 148, 622, 138, 620, 128, 624, 124, 630, 124, 636, 114, 640, 107, 650, 120, 660, 145, 670, 215, 688, 258, 693, 297, 692, 316, 690, 383, 704, 404, 706, 439, 704, 478, 691, 571, 649, 592, 649, 614, 644, 666, 629, 714, 613, 746, 603, 791, 604, 823, 598, 593, 362')
			canvas
		.map-image
			img.lazyload(src="./assets/index/i_2.jpg", usemap="#imageMap")
	.content
		.container
			.text
				h2 Đô thị 
					b sinh thái thông minh
					br
					| phía Đông TP.HCM
				a.btn.btn-discover.d-none(href='utilities.html') Khám phá ngay
	.cloud.desktop
		img.lazyload(data-src="./assets/index/cloud.png", alt="")
