.section#sec-2(fp-title="Mặt bằng")
	.imgMapCanvas
		.map-canvas
			map(name="imageMap", id="imageMap")
				//- area(shape='poly', coords='1213, 1, 1330, 192, 1334, 210, 1356, 210, 1348, 187, 1224, 0')
				area(shape='poly', coords='1108, 520, 1081, 572, 1053, 594, 1050, 615, 1034, 659, 1012, 670, 1003, 683, 1007, 702, 1088, 776, 1156, 797, 1253, 851, 1303, 873, 1352, 884, 1406, 887, 1447, 883, 1477, 866, 1515, 860, 1515, 705, 1491, 569, 1446, 541, 1290, 529')
				area(shape='poly', coords='1482, 522, 1471, 461, 1391, 309, 1360, 308, 1336, 326, 1316, 327, 1304, 336, 1290, 352, 1261, 368, 1103, 408, 1024, 420, 984, 419, 969, 428, 972, 443, 1000, 457, 1027, 466, 1054, 470, 1109, 500, 1040, 498, 1025, 484, 1002, 469, 960, 460, 937, 455, 910, 435, 818, 429, 768, 442, 729, 413, 719, 382, 634, 390, 597, 400, 596, 431, 707, 541, 830, 516, 906, 505, 1049, 509, 1310, 526, 1451, 539, 1472, 533')
				area(shape='poly', coords='710, 545, 810, 520, 909, 505, 1050, 507, 1054, 527, 1048, 546, 1034, 565, 1004, 591, 987, 619, 987, 634, 971, 655, 946, 665, 933, 671, 917, 672, 895, 680, 836, 667')
				area(shape='poly', coords='398, 420, 380, 438, 390, 460, 381, 487, 354, 516, 288, 566, 238, 609, 177, 674, 167, 672, 152, 678, 162, 686, 148, 694, 134, 691, 124, 698, 122, 703, 110, 714, 110, 721, 125, 733, 208, 757, 247, 762, 278, 763, 314, 760, 365, 770, 389, 777, 418, 776, 441, 773, 484, 760, 574, 720, 595, 719, 638, 708, 708, 686, 726, 678, 750, 672, 800, 673, 824, 668, 593, 435, 555, 441, 508, 451, 481, 437')
			canvas
		.map-image
			img.lazyload(src="./assets/index/i_2.jpg", usemap="#imageMap")
	.content
		.container
			.text
				h2 Đô thị sinh thái
					br
					| Thông minh tại đồng nai
				a.btn.btn-discover(href='utilities.html') Khám phá ngay
	.cloud.desktop
		img.lazyload.ofcv(data-src="./assets/index/cloud.png", alt="")
