.section#sec-2(fp-title="Mặt bằng")
	.imgMapCanvas
		.map-canvas
			map(name="imageMap", id="imageMap")
				//- area(shape='poly', coords='1213, 1, 1330, 192, 1334, 210, 1356, 210, 1348, 187, 1224, 0')
				area(shape='poly', coords='1356, 310, 1399, 311, 1473, 444, 1487, 523, 1486, 532, 1478, 539, 1462, 541, 1113, 512, 908, 503, 893, 473, 860, 452, 826, 444, 810, 444, 788, 449, 767, 443, 811, 431, 903, 431, 931, 447, 950, 458, 987, 463, 1006, 468, 1032, 481, 1045, 494, 1108, 498, 1058, 470, 1026, 466, 977, 448, 969, 434, 978, 422, 1043, 418, 1183, 388, 1283, 356, 1306, 335, 1319, 327')
				area(shape='poly', coords='710, 545, 810, 520, 909, 505, 1050, 507, 1054, 527, 1048, 546, 1034, 565, 1004, 591, 987, 619, 987, 634, 971, 655, 946, 665, 933, 671, 917, 672, 895, 680, 836, 667')
				area(shape='poly', coords='398, 420, 380, 438, 390, 460, 381, 487, 354, 516, 288, 566, 238, 609, 177, 674, 167, 672, 152, 678, 162, 686, 148, 694, 134, 691, 124, 698, 122, 703, 110, 714, 110, 721, 125, 733, 208, 757, 247, 762, 278, 763, 314, 760, 365, 770, 389, 777, 418, 776, 441, 773, 484, 760, 574, 720, 595, 719, 638, 708, 708, 686, 726, 678, 750, 672, 800, 673, 824, 668, 593, 435, 555, 441, 508, 451, 481, 437')
			canvas
		.map-image
			img.lazyload(src="./assets/index/i_2.jpg", usemap="#imageMap")
	.content
		.container
			.text
				h2 Đô thị sinh thái
					br
					| Thông minh tại đồng nai
				a.btn.btn-discover(href='utilities.html') Khám phá ngay
	.cloud.desktop
		img.lazyload.ofcv(data-src="./assets/index/cloud.png", alt="")
