.section#sec-2(fp-title="Mặt bằng")
	.slider-index-2
		.swiper-prev
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")
		.swiper-next
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgMapCanvas(data-canvas="fill")
						.map-canvas
							map(name="imgMap_1", id="imgMap_1")
								area(shape="poly" coords="1234, 544, 1163, 541, 826, 719, 835, 827, 859, 865, 914, 910, 959, 927, 1010, 924, 1036, 905, 1152, 886, 1179, 894, 1238, 882, 1326, 831, 1397, 828, 1413, 836, 1426, 833, 1551, 878, 1589, 878, 1590, 861, 1574, 833, 1598, 800, 1625, 795, 1635, 784, 1629, 765, 1612, 738, 1264, 557, 1260, 525, 1254, 520, 1237, 533")
							canvas
						.map-image
							img(src="./assets/index/i_2_1.png", usemap="#imgMap_1")
					.content
						.container
							.text
								h2 Đô thị 
									b sinh thái thông minh
									br
									| phía Đông TP.HCM
								a.btn.btn-discover.d-none(href='utilities.html') Khám phá ngay
					.cloud.desktop
						img.lazyload(data-src="./assets/index/cloud.png", alt="")
				.swiper-slide
					.imgMapCanvas(data-canvas="fill")
						.map-canvas
							map(name="imgMap_2", id="imgMap_2")
								<area shape="poly" coords="1119, 553, 1108, 555, 1090, 595, 1067, 619, 1057, 631, 1044, 685, 1016, 710, 1004, 727, 1007, 742, 1032, 769, 1095, 815, 1143, 833, 1171, 841, 1249, 886, 1298, 913, 1339, 925, 1397, 930, 1451, 926, 1491, 903, 1534, 905, 1524, 718, 1504, 591, 1155, 553" href="/the-suite" />
								<area shape="poly" coords="706, 587, 825, 710, 880, 718, 916, 713, 946, 707, 976, 689, 989, 673, 985, 657, 992, 649, 1000, 636, 1034, 608, 1050, 583, 1055, 565, 1050, 546, 1002, 544, 894, 547, 813, 561" href="/the-grand-villas" />
								<area shape="poly" coords="590, 473, 592, 435, 623, 423, 639, 409, 638, 385, 625, 360, 621, 347, 624, 336, 631, 330, 656, 327, 682, 330, 714, 340, 739, 353, 761, 382, 760, 417, 764, 442, 784, 456, 810, 467, 831, 471, 905, 474, 922, 481, 936, 493, 952, 500, 994, 505, 1016, 514, 1032, 525, 1049, 536, 1112, 540, 1061, 509, 1028, 504, 979, 487, 972, 480, 971, 471, 982, 462, 1037, 459, 1078, 454, 1245, 414, 1305, 387, 1319, 369, 1333, 364, 1352, 360, 1370, 346, 1411, 346, 1470, 450, 1491, 497, 1507, 545, 1517, 589, 1174, 552, 1055, 546, 919, 547, 876, 551, 703, 588" href="/the-elite" />
								<area shape="poly" coords="587, 473, 534, 441, 249, 387, 195, 386, 165, 391, 148, 403, 153, 414, 173, 420, 363, 466, 379, 493, 377, 514, 365, 534, 347, 553, 296, 595, 238, 640, 210, 669, 159, 721, 152, 717, 139, 722, 146, 730, 133, 737, 122, 736, 112, 738, 109, 742, 108, 748, 95, 758, 93, 765, 99, 773, 118, 784, 213, 808, 277, 810, 301, 808, 337, 814, 369, 823, 404, 825, 445, 818, 568, 764, 585, 765, 617, 759, 711, 730, 749, 718, 784, 719, 809, 716, 824, 712" href="/the-stella" />
							canvas
						.map-image
							img(src="./assets/index/i_2.jpg", usemap="#imgMap_2")
					.content
						.container
							.text
								h2 Đô thị 
									b sinh thái thông minh
									br
									| phía Đông TP.HCM
								a.btn.btn-discover.d-none(href='utilities.html') Khám phá ngay
					.cloud.desktop
						img.lazyload(data-src="./assets/index/cloud.png", alt="")
