.section.fp-section#sec-2
	.img
		img.ofcv(src="./assets/index/i_2.jpg", alt="")

	.content
		.container
			.text
				h2 Đô thị sinh thái
					br
					| Thông minh tại đồng nai
				a.btn.btn-discover(href='#') Khám phá ngay
	.cloud.desktop
		img.ofcv(src="./assets/index/cloud.png", alt="")