.section#sec-2(fp-title="Mặt bằng")
	.slider-index-2
		.swiper-prev
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")
		.swiper-next
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgMapCanvas(data-canvas="fill")
						.map-canvas
							map(name="imgMap_1", id="imgMap_1")
								area(shape="poly" coords="1234, 544, 1163, 541, 826, 719, 835, 827, 859, 865, 914, 910, 959, 927, 1010, 924, 1036, 905, 1152, 886, 1179, 894, 1238, 882, 1326, 831, 1397, 828, 1413, 836, 1426, 833, 1551, 878, 1589, 878, 1590, 861, 1574, 833, 1598, 800, 1625, 795, 1635, 784, 1629, 765, 1612, 738, 1264, 557, 1260, 525, 1254, 520, 1237, 533")
							canvas
						.map-image
							img(src="./assets/index/i_2_1.png", usemap="#imgMap_1")
					.content
						.container
							.text
								h2 Đô thị 
									b sinh thái thông minh
									br
									| phía Đông TP.HCM
								a.btn.btn-discover.d-none(href='utilities.html') Khám phá ngay
					.cloud.desktop
						img.lazyload(data-src="./assets/index/cloud.png", alt="")
				.swiper-slide
					.imgMapCanvas(data-canvas="fill")
						.map-canvas
							map(name="imgMap_2", id="imgMap_2")
								<area shape="poly" coords="710, 589, 828, 710, 872, 719, 900, 719, 923, 713, 944, 712, 979, 690, 992, 677, 988, 660, 998, 652, 1001, 639, 1039, 609, 1052, 590, 1059, 567, 1051, 546, 932, 544, 884, 549" href="/the-grand-villas" />
								<area shape="poly" coords="708, 584, 884, 548, 932, 543, 1049, 544, 1140, 549, 1510, 588, 1483, 492, 1408, 348, 1369, 346, 1345, 361, 1319, 367, 1301, 386, 1255, 409, 1082, 452, 1030, 458, 979, 463, 969, 470, 978, 488, 1021, 503, 1059, 510, 1108, 537, 1061, 539, 1038, 529, 997, 504, 942, 495, 911, 474, 816, 469, 768, 481, 731, 449, 722, 423, 594, 433, 593, 472" href="/the-elite" />
								<area shape="poly" coords="507, 489, 468, 472, 392, 458, 376, 460, 373, 468, 387, 487, 387, 514, 368, 542, 268, 622, 228, 657, 171, 718, 164, 715, 151, 720, 159, 729, 144, 735, 133, 734, 125, 736, 121, 740, 120, 743, 120, 746, 107, 754, 104, 761, 111, 771, 139, 782, 219, 804, 279, 807, 309, 804, 382, 819, 407, 821, 443, 817, 488, 801, 575, 762, 593, 762, 627, 755, 730, 719, 766, 715, 795, 717, 827, 710, 593, 474" href="/the-stella" />
							canvas
						.map-image
							img(src="./assets/index/i_2.png", usemap="#imgMap_2")
					.content
						.container
							.text
								h2 Đô thị 
									b sinh thái thông minh
									br
									| phía Đông TP.HCM
								a.btn.btn-discover.d-none(href='utilities.html') Khám phá ngay
					.cloud.desktop
						img.lazyload(data-src="./assets/index/cloud.png", alt="")
