.section#sec-3(fp-title="Vị trí")
	.container.mobile
		.title-block
			h2.main-title.center Vị trí
	.frame-1
		//- .container
		.video
			video(playsinline id="player")
				source(src="./assets/videos/vitri.mp4")