.section#sec-3(fp-title="Vị trí")
	.content
		.title-block
			h2.main-title.center TÂM ĐIỂM KẾT NỐI GIAO THÔNG LIÊN VÙNG
		.row.no-gutters.tab-container
			.col-md-7
				.img
					img.svg-image(data-src="./assets/index/i_3.svg", alt="")
			.col-md
				.description
					.tab-titles
						.tab-title(toggle-for="vitri_1")
							span.number 05
							span.text Phút
						.tab-title(toggle-for="vitri_2")
							span.number 10
							span.text Phút
						.tab-title(toggle-for="vitri_3")
							span.number 15
							span.text Phút
						.tab-title(toggle-for="vitri_4")
							span.number 20
							span.text Phút
					.tab-contents
						.tab-content(tab-id="vitri_1")
							p Bến du thuyền
							p Sân Golf Long Thành
							p Khu vui chơi giải trí Sơn Tiên
						.tab-content(tab-id="vitri_2")
							p Bệnh viện Shing Mark
							p TP. Biên Hòa
							p Khu công nghệ cao
						.tab-content(tab-id="vitri_3")
							p Trạm cuối Metro Bến Thành - Suối Tiên
							p Trung tâm tài chính Thủ Thiêm
						.tab-content(tab-id="vitri_4")
							p Sân bay Quốc tế Long Thành
				.button-wrapper
					a.btn.btn-discover(href="#") Khám phá ngay