.section#sec-4(fp-title="Sinh thái")
	.container.mobile
		.title-block
			h2.main-title.center Sinh thái
	.frame-1
		.img
			img.ofcv.mobile(src="./assets/index/i_4_1.jpg", alt="")
			video.desktop(autoplay loop muted)
				source(src="./assets/videos/i_4.mp4")
		.content
			.container
				.text
					.item
						h3 32KM
						hr.goldline
						p Đường sông
					.item
						h3 100 ha
						hr.goldline
						p Diện tích 
						p mặt nước
					.item
						h3 10.000 - 12.000 
						hr.goldline
						p Vườn Ươm
					.item
						h3 70%
						hr.goldline
						p diện tích dành cho
						p mảng xanh và tiện ích chung 
					.item
						h3 20
						hr.goldline
						p Công viên
						p chủ đề
				.mobile
					a.btn.btn-discover(data-fancybox="sec-4" data-src="#frame-2") Xem thêm
		.button-toggle.desktop
			img(src="./assets/btn_toggle.png", alt="")
	.frame-2#frame-2
		.img
			img.ofcv(src="./assets/index/i_4_2.jpg", alt="")
		.text
			h2.sub-title.grad Thông minh
			.item
				p Vận hành cuộc sống một
				p cách 
					b thông minh 
					| qua
				p 
					b ứng dụng 
					| điện thoại
				hr
			.item
				p Hệ thống nước uống
				p 
					b tinh khiết 
					| cộng đồng
				hr
			.item
				p Hệ thống chiếu sáng
				p 
					b tự động 
					| bằng 
					b năng
				p
					b lượng mặt trời
				hr