.section#sec-4(fp-title="Sinh thái")
	.container.mobile
		.title-block
			h2.main-title.center Sinh thái
	.frame-1
		.img
			img.lazyload.ofcv.mobile(data-src="./assets/index/i_4_1.jpg", alt="")
			video.desktop(autoplay loop muted playsinline)
				source(src="./assets/videos/i_4.mp4")
		.content
			.container
				.text
					.item
						h3 1.000HA
						hr.goldline
						p QUY MÔ DỰ ÁN
					.item
						h3 32KM
						hr.goldline
						p Đường sông
					.item
						h3 385HA
						hr.goldline
						p Diện tích 
						p mặt nước
					.item
						h3 25HA
							sup 2
						hr.goldline
						p CÔNG TRÌNH 
						p GIÁO DỤC CÁC CẤP
					.item
						h3 3HA
						hr.goldline
						p CÔNG TRÌNH 
						p Y TẾ
					.item
						h3 20
						hr.goldline
						p Công viên
						p chủ đề
					.item
						h3 70%
						hr.goldline
						p DIỆN TÍCH MẢNG XANH 
						p & TIỆN ÍCH CHUNG
				.mobile
					a.btn.btn-discover(data-fancybox="sec-4" data-src="#frame-2") Xem thêm
		.button-toggle.desktop
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")
	.frame-2#frame-2
		.img
			img.ofcv.lazyload(data-src="./assets/index/i_4_2.jpg", alt="")
		.text
			h2.sub-title.grad Thông minh
			.item
				p Vận hành cuộc sống một
				p cách 
					b thông minh 
					| qua
				p 
					b ứng dụng 
					| điện thoại
				hr
			.item
				p Hệ thống nước uống
				p 
					b tinh khiết 
					| cộng đồng
				hr
			.item
				p Hệ thống chiếu sáng
				p 
					b tự động 
					| bằng 
					b năng
				p
					b lượng mặt trời
				hr
		.button-toggle.desktop
			img.lazyload(data-src="./assets/btn_toggle.png", alt="")