.section.fp-section#sec-5
	//- .img
	//- 	img.ofcv(src="./assets/index/i_5.jpg", alt="")
	.imgmap
		img.ofcv(src="./assets/index/i_5.jpg", alt="" usemap="#imgmap201912216417" )
		map#imgmap201912216417(name='imgmap201912216417')
			area(shape='circle', alt='1', title='', coords='407,564,19', href='./assets/utilities/1.jpg', target='')
			area(shape='circle', alt='1', title='', coords='1116,292,19', href='./assets/utilities/1.jpg', target='')
			area(shape='circle', alt='1', title='', coords='1414,679,19', href='./assets/utilities/1.jpg', target='')
			area(shape='circle', alt='2', title='', coords='1694,380,19', href='./assets/utilities/2.jpg', target='')
			area(shape='circle', alt='3', title='', coords='517,255,19', href='./assets/utilities/3.jpg', target='')
			area(shape='circle', alt='3', title='', coords='972,284,19', href='./assets/utilities/3.jpg', target='')
			area(shape='circle', alt='3', title='', coords='245,542,19', href='./assets/utilities/3.jpg', target='')
			area(shape='circle', alt='3', title='', coords='346,509,19', href='./assets/utilities/3.jpg', target='')
			area(shape='circle', alt='3', title='', coords='581,450,19', href='./assets/utilities/3.jpg', target='')
			area(shape='circle', alt='4', title='', coords='1150,305,19', href='./assets/utilities/4.jpg', target='')
			area(shape='circle', alt='4', title='', coords='1519,614,19', href='./assets/utilities/4.jpg', target='')
			area(shape='circle', alt='5', title='', coords='1155,208,19', href='./assets/utilities/5.jpg', target='')
			area(shape='circle', alt='5', title='', coords='1250,632,19', href='./assets/utilities/5.jpg', target='')
			area(shape='circle', alt='5', title='', coords='603,206,19', href='./assets/utilities/5.jpg', target='')
			area(shape="circle", alt="6", title='', coords="643,206,19", href='./assets/utilities/6.jpg', target="")
			area(shape='circle', alt='6', title='', coords='1214,194,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='6', title='', coords='643,-205,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='6', title='', coords='446,306,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='6', title='', coords='385,474,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='6', title='', coords='865,367,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='6', title='', coords='1231,593,19', href='./assets/utilities/6.jpg', target='')
			area(shape='circle', alt='7', title='', coords='1432,371,19', href='./assets/utilities/7.jpg', target='')
			area(shape='circle', alt='8', title='', coords='1352,358,19', href='./assets/utilities/8.jpg', target='')
			area(shape='circle', alt='9', title='', coords='1277,458,19', href='./assets/utilities/9.jpg', target='')
			area(shape='circle', alt='9', title='', coords='1146,439,19', href='./assets/utilities/9.jpg', target='')
			area(shape='circle', alt='10', title='', coords='1099,470,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='10', title='', coords='1243,235,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='10', title='', coords='1365,496,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='10', title='', coords='800,253,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='10', title='', coords='390,371,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='10', title='', coords='778,423,19', href='./assets/utilities/10.jpg', target='')
			area(shape='circle', alt='11', title='', coords='1209,300,19', href='./assets/utilities/11.jpg', target='')
			area(shape='circle', alt='12', title='', coords='753,382,19', href='./assets/utilities/12.jpg', target='')

	.container
		.title-block
			h2 Tiện ích đa dạng
			h3 Thăng hoa cuộc sống