.section.fp-section#sec-6
	.row.no-gutters
		.col-sm-6
			.item
				.img
					img.ofcv(src="./assets/index/i_6_1.jpg", alt="")
				.content
					h2 The Stella
					.description-box
						p Sống trọn
						p Bình yên	
					a.btn.btn-discover(href="#") Khám phá ngay
		.col-sm-6
			.item
				.img
					img.ofcv(src="./assets/index/i_6_2.jpg", alt="")
				.content
					h2 The 
						br
						| Grand Villas
					.description-box
						p biệt thự đơn lập
						p Xứng tầm đẳng cấp
					a.btn.btn-discover(href="#") Khám phá ngay