.section#sec-6(fp-title="Phân khu")
	.container
	
		.area-content
			.swiper-prev
				img.lazyload(data-src="./assets/btn_toggle.png", alt="")
			.swiper-next
				img.lazyload(data-src="./assets/btn_toggle.png", alt="")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a.item(href="elite.html")
							.img
								img.ofcv.lazyload(data-src="./assets/index/i_6_4.jpg", alt="")
							.content
								h2 The Elite
								.description-box
									p Tinh Hoa 
									p Trong Từng Nhịp Sống
								span.btn.btn-discover Khám phá ngay
					.swiper-slide
						a.item(href="stella.html")
							.img
								img.ofcv.lazyload(data-src="./assets/index/i_6_1.jpg", alt="")
							.content
								h2 
									img.lazyload(data-src="./assets/logo_stella.png", alt="")
								.description-box
									p Sống trọn
									p Bình yên
								span.btn.btn-discover Khám phá ngay
					.swiper-slide
						a.item(href="villas.html")
							.img
								img.ofcv.lazyload(data-src="./assets/index/i_6_2.jpg", alt="")
							.content
								h2 The Grand Villas
								.description-box
									p biệt thự đơn lập
									p Xứng tầm đẳng cấp
								span.btn.btn-discover Khám phá ngay
					.swiper-slide
						a.item(href="./assets/the-suite.pdf" target="_blank")
							.img
								img.ofcv.lazyload(data-src="./assets/index/i_6_3.jpg", alt="")
							.content
								h2 The Suite
								.description-box
									p Sống xanh
									p Thời hiện đại
								span.btn.btn-discover Khám phá ngay
