.section#sec-6(fp-title="Phân khu")
	.container
		.row.no-gutters
			.col-sm-6
				.item
					.img
						img.ofcv.lazyload(data-src="./assets/index/i_6_4.jpg", alt="")
					.content
						h2 The Elite
						.description-box
							p Tinh Hoa 
							p Trong Từng Nhịp Sống
						a.btn.btn-discover(href="elite.html") Khám phá ngay
			.col-sm-6
				.item
					.img
						img.ofcv.lazyload(data-src="./assets/index/i_6_1.jpg", alt="")
					.content
						h2 
							img.lazyload(data-src="./assets/logo_stella.png", alt="")
						.description-box
							p Sống trọn
							p Bình yên
						a.btn.btn-discover(href="stella.html") Khám phá ngay
			.col-sm-6
				.item
					.img
						img.ofcv.lazyload(data-src="./assets/index/i_6_2.jpg", alt="")
					.content
						h2 The Grand Villas
						.description-box
							p biệt thự đơn lập
							p Xứng tầm đẳng cấp
						a.btn.btn-discover(href="villas.html") Khám phá ngay
			.col-sm-6
				.item
					.img
						img.ofcv.lazyload(data-src="./assets/index/i_6_3.jpg", alt="")
					.content
						h2 The Suite
						.description-box
							p Sống xanh
							p Thời hiện đại
						a.btn.btn-discover(href="./assets/the-suite.pdf" target="_blank") Khám phá ngay
