.section#sec-7(fp-title="Thư viện")
	.content
		.title-block
			h2.main-title.center Thư viện
		.video-block
			a(href="https://www.youtube.com/watch?v=ImXDAdzNX0I" data-fancybox='video')
				img(src="./assets/index/i_7_1.jpg", alt="")
				.icon-play
					img(src="./assets/btn_play.png", alt="")
		.video-items
			.swiper-prev
				img(src="./assets/btn_toggle.png", alt="")
			.swiper-next
				img(src="./assets/btn_toggle.png", alt="")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item
							a(href="javascript:void(0)" data-href="https://www.youtube.com/watch?v=ImXDAdzNX0I")
								.img
									img(src="./assets/index/i_7_1.jpg", alt="")
								.text
									h3 Đắc địa về vị trí – Đắt giá về tầm nhìn
					.swiper-slide
						.item
							a(href="javascript:void(0)" data-href="https://www.youtube.com/watch?v=x-UiolrJnuw")
								.img
									img(src="./assets/index/i_7_2.jpg", alt="")
								.text
									h3 Thăng hoa cuộc sống với chuỗi tiện tích đẳng cấp tại Aqua City
					.swiper-slide
						.item
							a(href="javascript:void(0)" data-href="https://www.youtube.com/watch?v=E-Ndo8ytmR0")
								.img
									img(src="./assets/index/i_7_3.jpg", alt="")
								.text
									h3 Biệt thự đơn lập Aqua City thu hút vợ chồng sao Việt
					.swiper-slide
						.item
							a(href="javascript:void(0)" data-href="https://www.youtube.com/watch?v=H87jXmMXJtM")
								.img
									img(src="./assets/index/i_7_4.jpg", alt="")
								.text
									h3 Aqua City và ấn tượng hoàn mỹ trong lòng khách hàng
					.swiper-slide
						.item
							a(href="javascript:void(0)" data-href="https://www.youtube.com/watch?v=nFtpQ9uahH4")
								.img
									img(src="./assets/index/i_7_5.jpg", alt="")
								.text
									h3 Chọn Aqua City – Anh Đức chọn chốn an cư xứng tầm đẳng cấp
		.button-wrapper
			a(href="gallery.html", title="title").btn.btn-viewmore Xem thêm 
			//- a(href="http://web4gsolutions.com/aquacity/gallery.html", title="title").btn.btn-viewmore Xem thêm 