.section.fp-section#sec-8
	.img
		img.ofcv(src="./assets/index/i_8.jpg", alt="")
	.content
		.container
			.title-block
				h2.main-title.center Tin tức nổi bật
			.news-items
				.item
					a(href="https://vnexpress.net/kinh-doanh/hoi-thao-ve-do-thi-sinh-thai-thong-minh-tai-novaland-expo-2019-4018347.html?fbclid=IwAR3N_z7yTqOQBwpBUOAjLQ3aICeIXB45gf9jUEZZ_LkozFlejyF-73up_hY")
						.img
							img(src="./assets/index/i_8_1.jpg", alt="")
						.text
							h3 Hội thảo về đô thị sinh thái thông minh tại Novaland Expo 2019
						.button-wrapper
							span.btn.btn-readmore Xem thêm
				.item
					a(href="https://dep.com.vn/xanh-hoa-cuoc-song-lieu-thuoc-tinh-than-cho-the-he-dep/")
						.img
							img(src="./assets/index/i_8_3.jpg", alt="")
						.text
							h3 "Xanh" hóa cuộc sống - Liều thuốc tinh thần cho thế hệ đẹp
							
						.button-wrapper
							span.btn.btn-readmore Xem thêm
				.item
					a(href="http://cafef.vn/chia-tay-tuyen-quoc-gia-anh-duc-tiep-tuc-hanh-trinh-cho-nhung-dam-me-sau-san-co-2019112717161544.chn")
						.img
							img(src="./assets/index/i_8_2.jpg", alt="")
						.text
							h3 Chia tay tuyển quốc gia, Anh Đức tiếp tục hành trình cho những đam mê sau sân cỏ
						.button-wrapper
							span.btn.btn-readmore Xem thêm